[2018-08-07 16:35] tony-shannon opened #1 "Top 3 things - migrate to openEHR backend"
to do

[2018-08-07 16:53] tony-shannon opened #2 "mapping for Meds - openEHR 2 FHIR"
need to do some tidying to mapping at UI/QEWD +/- openEHR levels

[2018-08-07 16:56] tony-shannon commented on #2
need to check the mappings between FHIR & openEHR, can I get the latest mappings here please
@robtweed,
I will tweak them a bit, thanks

[2018-08-07 17:00] tony-shannon commented on #1
FYI @freshehr
Need help migrating the current data persistence to openEHR for the top 3 things
This gives you and idea of the current dataset , currently persisted by qewdDB/yottaDB
![image](https://user-images.githubusercontent.com/939996/43790811-a5a0513c-9a6b-11e8-9bde-ecc7697a8a16.png)

[2018-08-07 18:47] freshehr commented on #1
@tony-shannon -can you send a screenshot of the edit page.

[2018-08-09 13:57] tony-shannon commented on #1
![image](https://user-images.githubusercontent.com/939996/43903499-80db4562-9be4-11e8-9b92-4cf4ee9d3f9f.png)

[2018-08-09 13:59] tony-shannon commented on #1
@freshehr its worth noting that this approach is different to others in that we initially have gone for;
- a table with just 1 set of Top 3 things, that can be updated..
- rather than a table list of dozens of top 3 things , with each update being a separate row/entry

Naturally if we stick with 1 set, we still need to have a version control approach in the backend that can be used for audit purpo

[2018-08-10 15:36] tony-shannon commented on #1
Very many thanks  Ian
Tony

On 10 August 2018 at 16:21, Ian McNicoll <notifications@github.com> wrote:

[2018-08-15 16:27] tony-shannon commented on #1
Hi @freshehr
Polite chase on this Ian, as Rob away from next week, just wanted to get heads up on the effort that will be needed
T

[2018-08-15 16:31] freshehr commented on #1
It's done  - https://github.com/RippleOSI/Ripple-openEHR/commit/00081dbfec97ce62d65501edca2297a60ee76a2b

[2018-08-15 16:35] tony-shannon commented on #1
Very many thanks Ian! & Hildi.

[2018-08-22 14:58] tony-shannon commented on #2
in process with UI input too

[2018-08-22 14:59] tony-shannon commented on #1
meant to ask @robtweed to action this within QEWD-Ripple

[2018-08-22 14:59] tony-shannon opened #3 "add chat facility to Helm for trial"
to add chat facility for users

[2018-08-27 09:30] tony-shannon opened #4 "tidy up Helm Data models at UI level"
to do based on changes needed for go live informed by this UX review
https://projects.invisionapp.com/d/main#/projects/prototypes/11007532

- [x] Patient Summary Page -rename Diagnosis to Problems issues
- [x] Problems/Issues Page- Detail- hide Terminology/Code  + hide Create/Edit buttons
- [x] Medications Page- Summary- hide Dose col & change Supply col to Date  + Create button -  on summary tabl

[2018-08-28 09:28] kuvakina commented on #3
@tony-shannon

(From https://github.com/PulseTile/PulseTile-React-Core/issues/205 )

At the moment we are working on Helm PHR theme plugin + Automatic creation of the build, and plan to move to UI/Data Model tidy up.

So I wanted to ask what is the priority of this issue?

[2018-08-28 15:39] tony-shannon commented on #3
Having trialled this, I know the effort to include the script is minimal
So suggest we include as a minor task during the "branding" sprint
thanks
Tony

[2018-08-28 15:39] tony-shannon commented on #3
closed in error, sorry

[2018-08-29 06:06] kuvakina commented on #3
@tony-shannon Ok, thank you

[2018-08-30 17:15] BogdanScherban commented on #4
@tony-shannon

These issues have been done at the moment:
- Patient Summary Page -rename Diagnosis to Problems issues;
- Problems/Issues Page- Detail- hide Terminology/Code + hide Create/Edit buttons;
- Medications Page- Summary- hide Dose col & change Supply col to Date + Create button - on summary table;
- Medications Page- Detail - hide Dose Amount, Timing, Prescription (button), Cancel, Suspen

[2018-08-30 18:55] kuvakina commented on #4
UPD on 30.08:

We've done part of changes for the task Helm-desktop-data-model and tomorrow we're going to continue this issue

Were approved these pull-requests, that were necessary to check the work of Generator with new changes:
https://github.com/PulseTile-Plugins/Silver-Plugin-Vaccinations/pull/2
https://github.com/RippleOSI/Helm-PHR-Generator/pull/4
https://github.com/PulseTile/PulseTile-Rea

[2018-08-31 08:58] tony-shannon commented on #4
thanks @BogdanScherban
Based on chat yesterday Contacts should be excluded/hidden/removed for now
What about progress on Vaccinations ?

[2018-08-31 10:35] BogdanScherban commented on #4
@tony-shannon
In Vaccinations we are working on adding System Information panel at the moment. All other changes were done.

Regarding Contacts: yes, I remember, I'll hide Contacts after finishing with https://projects.invisionapp.com/d/main#/projects/prototypes/11007532

[2018-09-05 13:41] BogdanScherban commented on #4
@tony-shannon

I've solved the issue with Feeds-plugin automatically adding by the way:
- Core was updated for this possibility;
- Feeds-plugin was updated and saved as separate repository;
- Add sub-generator for Feeds-plugin to the Generator for Helm-PHR.

PRs for first two issues:
https://github.com/PulseTile/PulseTile-React-Core/pull/211
https://github.com/PulseTile-Plugins/Silver-Feeds-Plugin

[2018-09-06 12:15] tony-shannon commented on #4
I've solved the issue with Feeds-plugin automatically adding by the way:

Core was updated for this possibility;
Feeds-plugin was updated and saved as separate repository;
Add sub-generator for Feeds-plugin to the Generator for Helm-PHR.
PRs for first two issues:
PulseTile/PulseTile-React-Core#211
PulseTile-Plugins/Silver-Feeds-Plugin#1

When they will be approved, I'll check work of Generator and

[2018-09-17 08:32] tony-shannon opened #5 "List of ToDos towards GoLive - Sept 17/18th 2018"
General
- [x] SSL cert sort
- [ ] move to HSCN with VPN access for RT, CC
- [x] load Helm website with links to login page & vice versa

PulseTile
- [x] modify the PulseTile logic to generate the Authorization: Bearer{space} {jwt value} header on every /api request - see comment below https://github.com/LeedsCC/Helm_PHR/issues/5#issuecomment-421958286
- [x] Kirill investigating login related main.

[2018-09-17 13:27] tony-shannon commented on #5
T&C copy of

[Helm Terms and Conditions 180914 Final as HTML.txt](https://github.com/LeedsCC/Helm_PHR/files/2388721/Helm.Terms.and.Conditions.180914.Final.as.HTML.txt)

[2018-09-17 13:32] tony-shannon commented on #5
Rob has made change to QEWD side to handle this

[2018-09-17 16:14] tony-shannon commented on #5
![image](https://user-images.githubusercontent.com/939996/45635530-1c2ad100-ba9d-11e8-8b34-ecd67dd34c5b.png)

[2018-09-17 21:35] tony-shannon commented on #5
Check Demographics v Pt Profile
![image](https://user-images.githubusercontent.com/939996/45651649-eea84c80-bac9-11e8-88cc-52949c03f5e4.png)

[2018-09-18 08:19] tony-shannon commented on #5
Rob has explained that patient banner data is coming from DDS, while the patient profile info is coming from openID service, so this mismatch is down to test data and will be tidied earlier

[2018-09-18 10:17] tony-shannon commented on #5
On discussion with Kirill the console error there is related to the feedsAPI , but is not critical at this time, so we will park this one

NB there is a separate but related issue here about Infinite Spinner/ Loading State.. see here
https://github.com/PulseTile/PulseTile-React-Core/issues/223

[2018-09-20 13:53] kuvakina commented on #4
@tony-shannon

Regarding this task: should we fix Top 3 Things? Or for now, we can consider this task as Done or move it to Backlog?

[2018-09-26 12:43] PhilBarrett opened #6 "Migrate over to HSCN with VPN access for RT, CC"
Working with Eric at UK Cloud

[2018-09-26 12:48] PhilBarrett opened #7 "Load Helm website with links to login page & vice versa"

[2018-09-26 12:52] PhilBarrett opened #8 "Where there is no record data in a heading, display the appropriate message to the user"
If no data from Discovery/openEHR is available , ie the return array is empty , the data tables for Probs/Meds/All,Vaccs etc need to say "No information available"

For information recorded by the user, e.g. "Top 3 Things" it should ask user to add data is empty initially.  "Please enter the top 3 things you'd like people under your direct care to know about you/your care"

[2018-09-26 12:56] PhilBarrett opened #9 "User Tour enhancements"
- The first time a user logs into their account, the tour is launched
- If the user  clicks on (?) to start tour; 2 things need to happen
1. The user is returned to the Patient Summary screen first in the detailed record, then
2. The same click launches the tour from there

[2018-09-26 12:58] PhilBarrett opened #10 "Add T&C modal on login (inc Click4Assistance) - see html below"
[Helm.Terms.and.Conditions.180914.Final.as.HTML.txt](https://github.com/LeedsCC/Helm_PHR/files/2419741/Helm.Terms.and.Conditions.180914.Final.as.HTML.txt)

[2018-09-26 13:00] PhilBarrett opened #11 "Profile enhancements"
In the user profile, please

- prefix PHR with "User Role:" and prefix "Date of Birth:" to date
- invoke user.dateOfBirth value and convert from UTC to regular date

[2018-09-26 13:12] PhilBarrett opened #12 "Adding "Feeds" to summary screen"
- Add feeds to Patient Summary view only, when the user logs in
- set Feeds on as Default view in Cog wheel Settings

[2018-09-26 13:14] PhilBarrett opened #13 "Addition of home button"
Add home button to top left replacing back button, as a configurable option alongside back button

[2018-09-26 13:15] PhilBarrett opened #14 "Set up new EHR on EtherCIS when user signs up"

[2018-09-26 13:16] PhilBarrett opened #15 "Discovery Data Service APIs"
Finalise the Discovery APIs -ie trigger writes to EtherCIS on login & add Vaccinations API

[2018-09-26 13:17] PhilBarrett opened #16 "Switch to username > email for login to improve security"

[2018-09-26 13:19] PhilBarrett opened #17 "RSS feed per user - setup on user signup"
Add LeedsCC RSS feed https://www.leeds-live.co.uk/news/?service=rss on pt signup trigger
Please advise of any security considerations before proceeding (e.g. risk if API accessible?)

[2018-09-26 13:20] PhilBarrett opened #18 "Swap top 3 things over to openEHR API"

[2018-09-26 13:22] PhilBarrett opened #19 "Check Date in Summary table for each heading"
The date needs to be from original source, not EtherCIS persistence date

[2018-09-26 13:23] PhilBarrett opened #20 "Data source naming convention"
- If the data is coming from DDS, please change to "GP" in Summary table
- change to "EtherCIS via Discovery" in Source Detail if data from DDS

[2018-09-26 13:26] PhilBarrett opened #21 "OpenID Connect - Administrator"
- [x] 2FA
- [x] PW complexity
- [x] force change of temporary pw
- [x] Change pw

[2018-09-26 14:00] PhilBarrett opened #22 "Allergies duplicated entries"
Monitor if Allergies entries are being duplicated

[2018-09-26 14:03] PhilBarrett opened #23 "Investigate possible HTML escape"
- Top 3 things data returned to PulseTile
- escape all data returned to PulseTile

[2018-09-26 14:05] PhilBarrett opened #24 "Staging env to be setup"

[2018-09-26 14:16] PhilBarrett opened #25 "When side bar menu is expanded, menu button should read 'X Close'"

[2018-09-26 14:20] PhilBarrett commented on #5
Remaining work separated out into separate issues and moved into the backlog

[2018-09-26 14:20] #5 closed

[2018-09-27 16:41] #10 closed

[2018-09-27 16:41] #7 closed

[2018-09-27 19:17] PhilBarrett opened #26 "Improved user logic for Top 3 Things creates"
Test User feedback (AW):

When filling in the Top 3 Things to know about me it won't let you exit unless you fill in all three, I think you should be able to fill in 1 or 2 and save.

Logic to be updated​

[2018-09-28 11:00] kuvakina opened #28 "Summary (Home) screen displaying not all entries"
For example, Vaccination:

on Home page we see only 2 entries that returned: Japanese encephalitis and Tetanus.

But if we go to Vaccination page we see 3 entries: Japanese encephalitis, Seasonal influenza vaccination (procedure) and Tetanus.

See the video: https://www.screencast.com/t/Ofk2TEsg

I'm not sure if it related, but for some reason, on Hope page shown only entries, that were created xx

[2018-09-28 11:15] robtweed commented on #28
What system are you running this on?  dev on port 8000?

On Fri, 28 Sep 2018 at 12:01, kuvakina <notifications@github.com> wrote:

--
Rob Tweed
Director, M/Gateway Developments Ltd
http://www.mgateway.com

[2018-09-28 11:33] robtweed commented on #28
OK so you must be running on login.myhelm.org.

The reason for what you see is because the synopsis panels only show the
data stored in OpenEHR.  The Discovery data isn't shown in the Synopsis
panel.

The Discovery data does, however, show up when you click the menu option.

The behaviour will change in future, because the Discovery data will get
saved into OpenEHR

By the way, the synopsis panels

[2018-09-28 12:10] kuvakina commented on #28
Oh, now I see.

Thank you, Rob.

[2018-10-01 13:32] PhilBarrett commented on #4
Marking as done, closing.

[2018-10-01 13:32] #4 closed

[2018-10-01 13:36] PhilBarrett commented on #3
@simongamester Can we get an update for what you did on this please.

[2018-10-01 13:37] PhilBarrett opened #29 "Helm chat - Click4Assistance security update"
- [ ] Update architecture
- [ ] update security risk assessment

[2018-10-01 13:39] PhilBarrett opened #30 "Click4Assistance - Update Helm security documentation"
- [ ] Update architecture
- [ ] Update security risk assessment

[2018-10-01 13:40] PhilBarrett commented on #3
Still need to
 - [ ] customise view

[2018-10-01 13:42] PhilBarrett commented on #11
@kuvakina could we get an update on this one please. thanks

[2018-10-01 13:43] PhilBarrett commented on #12
@kuvakina can you confirm this is completed please after testing

[2018-10-01 13:44] PhilBarrett commented on #8
For review

[2018-10-01 13:45] PhilBarrett commented on #25
As per title

[2018-10-01 13:46] PhilBarrett commented on #23
To discuss with @robtweed, does further work on PulseTile need to be done?

[2018-10-01 14:39] PhilBarrett opened #31 "Change in logic when accepting terms and conditions"
Currently when the user first logs in, they are presented with terms and conditions to either accept or cancel. Cancelling logs them out and accepting allows the user into the application.

However data is retrieved behind the modal and can be seen before the user responds to the T&C's question. responding to the T&C's accepting should trigger the retrieval

[2018-10-02 11:59] kuvakina commented on #11
@PhilBarrett

Checked myhelm.org and there everything is OK: https://www.screencast.com/t/gG2yrRI6

Or we have to add the same for http://dev.ripple.foundation:8000 : https://www.screencast.com/t/unSOmA0HRF ?

[2018-10-02 12:07] kuvakina commented on #12
@PhilBarrett

I've checked it. It doesn't set as default. Bogdan will change it after he finishes the current task.

[2018-10-02 12:10] tony-shannon commented on #2
this has been done

[2018-10-02 12:10] #2 closed

[2018-10-02 13:59] PhilBarrett commented on #13
Expect the solution to come from React Core codebase

[2018-10-02 14:03] PhilBarrett opened #32 "Accessibility enhancements"

[2018-10-02 14:15] PhilBarrett commented on #3
![Screenshot_20181002-144943.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cc781677216455f77f29d1b06af3006b1300051bff054a5556f9abd878f3b539268d0e58bcd4395f74cf3e44a5bbd749ba13a632c91edbe2e3d7158abd7f37ed998e48341f001b81fb553ca6914fcb5eff59ac.jpg)

[2018-10-02 15:13] kuvakina commented on #31
To solve this issue we have 3 options:

1) Make T&C modal wider: http://prntscr.com/l1bahx

2) Make background opacity thicker (0.9): http://prntscr.com/l1bb9m

3) Make full background opacity (1): http://prntscr.com/l1bbnc

Which one will be better?

[2018-10-02 15:39] PhilBarrett commented on #16
No longer required, moved to 2FA

[2018-10-02 15:39] #16 closed

[2018-10-02 15:42] PhilBarrett commented on #15
Vaccinations API work completed, confirmed by RT 2/10

[2018-10-02 15:58] PhilBarrett opened #33 "Password Reset"
Adding user/admin password reset functionality

[2018-10-02 16:00] PhilBarrett commented on #21
Updates made to Admin dashboard for 2FA, PW complexity and force pw change.

[2018-10-02 18:50] PhilBarrett commented on #31
Not sure on these. @simongamester can you provide a view on other options please?

[2018-10-03 08:57] simongamester commented on #31
I'm not sure any of these would address the issue really I'm afraid. Changing the visibility of the background or the size of the modal could easily be reverted using developer tools. We need to trigger the modal before the information is retrieved from the server.

@PhilBarrett If this is a problem, we could consider placing this modal on the login screen itself i.e. before we redirect over to th

[2018-10-03 09:14] PhilBarrett commented on #31
Yeah neither of these options ideal to be honest. Behaviour needs to be

User logs into application
User then sees  the one time T&C's
If they decline, it logs them out
If they accept it, the event is recorded then retrieves the record.

Need a fix based on that logic please

[2018-10-03 09:44] BogdanScherban commented on #31
@PhilBarrett
I understand this idea - it will be good. But login form isn't located in our part of project (in Core).

![Screenshot from 2018-10-03 12-44-10.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb3796441a5980011efd33d/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227149f27b3dd5b068ee1036555b424fac53444d04bea6d37ef5f22e7a985959bc82385c71903a43ffe

[2018-10-03 10:06] BogdanScherban commented on #9
It has been already fixed. These changes will be added to next Helm- build

[2018-10-03 12:28] PhilBarrett commented on #26
Adding default text "To be completed"

[2018-10-03 12:35] PhilBarrett opened #34 "Create Feeds API for new records created"
Currently when a new account is created, the Feeds option is not available

[2018-10-03 12:56] tony-shannon commented on #34
@PhilBarrett FYI is a duplicate issue of one raised earlier
https://github.com/LeedsCC/Helm-PHR-Project/issues/17

[2018-10-03 13:28] simongamester commented on #25
Discussion on whether this should be part of core, the theme or configurable within core:

a) Within core -> Change hard coded text for button directly in core
b) WIthin theme -> Apply content changes via css (content:) when sidebar toggles between open and closed state.
c) As a config -> Add open and close variables to theme config which contain 'Menu' and 'Close'. This would need to default to '

[2018-10-03 13:28] #34 closed

[2018-10-03 13:34] simongamester commented on #13
Discussed adding a config variable to themes.config.js to contain a string which defines the behaviour of the button in the top left of the header when viewing a patient record - something like 'patientTopLeftButtonBehaviour'. This could either be:

1. 'back' - Display a back button which calls location.history(-1) (mimics the browser back functionality.
2. 'home' - Returns user to their patient d

[2018-10-03 13:37] PhilBarrett commented on #32
- [ ] Toolbar inactivity
- [ ] Button Labelling
- [ ] Colour Contrast
- [ ] Zoom Scaling
- [ ] Document Titles
- [ ] Form element labels
- [ ] Focus
- [ ] Tab Index
- [ ] Keyboard Shortcuts
- [ ] Menu Navigation
- [ ] Greyscaling

[2018-10-03 13:46] BogdanScherban commented on #9
Fixed. Right now work of UserTour is enabled only on PatientSummary page.

[2018-10-03 14:11] PhilBarrett commented on #18
Duplicate of https://github.com/LeedsCC/Helm-PHR-Project/issues/1

[2018-10-03 14:11] #18 closed

[2018-10-03 14:49] tony-shannon commented on #3
thanks @PhilBarrett
PLease let me know what action you need from me
T

[2018-10-03 15:21] PhilBarrett opened #35 "TLS Version 1.0"

[2018-10-03 15:31] PhilBarrett opened #37 "OpenID Connect - end users"
Essential
 - [x]  Password reset

Non essential
- [x]  2FA
 - [x] PW complexity
 - [x]  force change of temporary pw

-####-
 - [x]  Aligning with CitizenID, enforce timeout due to inactivity after 60minutes

[2018-10-03 15:33] PhilBarrett commented on #33
Duplicate of #37

[2018-10-03 15:34] #33 closed

[2018-10-04 08:28] PhilBarrett commented on #35
To be undertaken by UK Cloud.

[2018-10-04 08:28] #35 closed

[2018-10-04 08:38] PhilBarrett opened #38 "Migration of Helm service to live- inc Live DDS APIs"
- [ ] Move to HSCN
- [ ] Validation and testing of feeds
- [ ] NHS # matching

2-3 d
Initial write consideration and potential lengthy load time perception by user

[2018-10-04 08:52] PhilBarrett opened #39 "QEWD Log files"
API usage
by author/user
by date/time

[2018-10-04 09:37] tony-shannon commented on #39
closed in error

[2018-10-04 13:33] tony-shannon commented on #26
that PR fixes this issue
https://github.com/LeedsCC/Helm-PHR-Project/issues/26

[2018-10-04 13:33] #26 closed

[2018-10-04 14:06] #37 closed

[2018-10-04 14:07] PhilBarrett commented on #21
Tested and working well.

[2018-10-04 14:07] PhilBarrett commented on #37
Tested and working well.

[2018-10-04 14:08] #21 closed

[2018-10-04 14:09] PhilBarrett commented on #17
User accounts created and tested, correctly displaying the RSS feed in the summary screen and settings cog.

[2018-10-04 14:14] PhilBarrett opened #40 "openID connect - Admin forgot pw"
As an administrator, I need the ability to request a temporary password if I forget my current password.

This will:

 * Trigger an email sending a temporary password to the email account (if there is a registered account)
* When the administrator adds the username and temp password, is should then prompt them to change their password
* Upon changing password, 2FA should be triggered allowing the

[2018-10-04 16:06] PhilBarrett opened #41 "openID connect - user enhancements"
- [ ]Limiting consecutive login attempts
- [ ] Limiting 2FA one time code requests

[2018-10-04 17:01] tony-shannon opened #42 "Date of Birth error in Profile"
see image below

[2018-10-04 17:02] tony-shannon opened #43 "Title Bar in browser needs to say Helm"
see image

[2018-10-04 17:04] tony-shannon commented on #42
![i591^pimgpsh_thumbnail_win_distr.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bae28b4d734ec0013e1f936/125516c66e82c728ace21e0d46e1c1c372bc93a082eeaf50ac62e49c3c4b257d280daf14678ced17bb4b68151d4d52be011a001ea9aacd39aca43922db0f5eeed43b5826956c14f8b88216bc54b323de1980a4a0980e91b6697abad2c51a7c0c0f0a88f75734a59a43ce5ff44de24b53a411242e.jpg)

[2018-10-04 17:04] tony-shannon commented on #43
![i592^pimgpsh_thumbnail_win_distr.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bae28b4d734ec0013e1f936/125516c66e82c728ace21e0d46e1c1c371bc93a082eeaf50ac62e49c3c4b257d280daf14678ced17bb4b68151d4d52be011a001ea9aacd39aca43922db0f5eeed43b5826956c14f8b88216bc54b323de1980a4a0980e91b6697abad2c51a7c0c0f0a88f65734a59a43ce5ff44de94e54ac11242e.jpg)

[2018-10-06 15:40] simongamester commented on #43
I'm afraid this is not very straight forward. The title tag is initially set within the index.html file, is provided by the helm theme using the generator. You'll notice it says 'myHelm' for the first few seconds of loading.

HOWEVER, the browser title is then set via javascript when React initialises via an API call to /api/application. See screen:

![Screenshot 2018-10-06 at 16.34.53.png](https:

[2018-10-08 13:08] PhilBarrett commented on #31
Awaiting new build to be loaded by Rob

[2018-10-08 13:14] PhilBarrett commented on #42
@simongamester , can we have an update on this here please, cheers.

[2018-10-08 14:55] simongamester commented on #43
Mute the change.

[2018-10-08 17:16] simongamester commented on #13
I've spoken to Bogdan about this and reviewed my code to implement this.
Bogdan and I have decided to hand over the final part of this back to him, as he has an idea on how to aquire the nhs number in a cleaner way than what was proposed.

In an earlier issue for the User Tour, Bogdan required the url for the patient summary and we'd like this method to be shared by both components of the UI.

We

[2018-10-09 09:38] simongamester commented on #13
Hi @tony-shannon Just been talking to Bogdan about this issue. He's implemented the logic above, but we started thinking about how this might impact IDCR instances.

In the above, we've got two buttons (home and back) and a variable to set each of them. The location of the home button however will always be to the patient record.

We can either:

1. Change this so it goes to the Charts view for ID

[2018-10-09 11:03] tony-shannon commented on #13
Suggest option 1 would be good for now
thanks @simongamester
T

[2018-10-09 14:17] PhilBarrett commented on #17
New account generated using 9999999011 . RSS feed didn't appear in summary screen as default and when I added the feed in via the cog, two feeds appeared.
![Screen Shot 2018-10-09 at 15.13.59.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236454fa6b7191a379ea0c2a52415a47be5d4a1f06a3a3dc

[2018-10-09 15:29] PhilBarrett commented on #25
Linked to https://github.com/PulseTile/PulseTile-React-Core/pull/242

[2018-10-09 15:40] #25 closed

[2018-10-09 15:55] PhilBarrett commented on #31
Tested and working as intended

[2018-10-09 15:55] #31 closed

[2018-10-09 16:04] tony-shannon commented on #42
@simongamester
yes there is a user DOB available
Please check with @robtweed  for details

[2018-10-09 16:43] robtweed commented on #42
Simon - I don't know what system you've used, but you've logged in in IDCR mode, so it won't be the Helm PHR system.  A PHR user gets their Date of Birth from the OpenId Connect Server, and it is definitely included.  The IDCR mechanism for login is not yet included in the Helm PHR

[2018-10-10 08:09] BogdanScherban commented on #13
The following changes were done:
1) Added possibility to show Home button OR/AND Back button depends on theme settings;
2) Added settings for Home and Back buttons to the theme settings config file;
3) PageURL and Homepage definition was moved to component, because it will be used in two places:
- in Home button;
- in UserPanel (for UserTour).
4) Added homepage link definition depends on User role

[2018-10-10 09:59] PhilBarrett commented on #13
Linked to

Resolved RippleOSI/Helm-PHR-Generator#22
Resolved PulseTile-Plugins/Plugin-React-UserTour#8
Resolved PulseTile/PulseTile-React-Core#243

[2018-10-10 09:59] #13 closed

[2018-10-11 09:30] PhilBarrett opened #44 "T&C's appearing each login"
As a user, each time I log in, the Terms and Conditions for Helm appear requiring action before being able to access the record.

This is a one time event at this time, not each time.

[2018-10-11 09:35] PhilBarrett opened #45 "Medications Field Mapping"
When logged in and I navigate to the detail view of a medication entry, Dose Description is void of information.

[2018-10-11 09:35] PhilBarrett commented on #45
![Screen Shot 2018-10-10 at 16.20.07.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236455f36b7191a379e90c2951415f49be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c3daa984ecb51f44ee14856a71b3f67f43b.png)

[2018-10-11 09:39] robtweed commented on #45
This is a known issue that is understood by Ian and Christian - a limitation of EtherCIS.  Suggest you raise it with them again - Dose Timing and Dose Description are related in terms of this problem

[2018-10-11 09:40] robtweed commented on #44
Is this on the OpenId Connect Login screen (before you get the 2FA code form)?  If so, you need to discuss with Simon

[2018-10-11 10:34] simongamester commented on #42
Suggest to hide this in the short term until DOB added to User API call.

[2018-10-11 10:42] #3 closed

[2018-10-11 10:45] simongamester commented on #44
Add a cookie to store when users accept terms. Server side call to be enabled there after.

[2018-10-11 11:43] tony-shannon opened #46 "nginx set up for staging/production"
re
https://access.redhat.com/solutions/24717

[2018-10-12 14:01] BogdanScherban commented on #42
Task is fixed.

What was updated:

1) Changed function which return the date: now we use the same one, which return correct date in other tables (it was checked by Timestamp converter: https://www.unixtimestamp.com/index.php)

2) Added condiction: if user birthdate is absent, we don't output it generally

[2018-10-12 14:28] simongamester commented on #44
Hi @PhilBarrett Just added a PR for this now.
https://github.com/PulseTile-Plugins/Plugin-UserLogin_Theme-HelmPHR/pull/8

[2018-10-16 09:09] PhilBarrett opened #47 "Mobile experience - iOS logout errors"
Logging out produces error and doesn't return to login page

![Screen Shot 2018-10-16 at 09.46.04.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236455f56b7191a378e60c2f57415f4abe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5f34

[2018-10-16 09:26] PhilBarrett opened #48 "Mobile experience - Helm logo and padding"
Tested on both Android (Samsung S9, Chrome) and iOS (iPhone 6, Safari+Chrome)

The Helm Logo on login screen isn't responsive and bleeds over the circles with no padding.
![Screen Shot 2018-10-16 at 09.43.39.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236455f56b7191a378e60c2f52415c47

[2018-10-16 09:31] PhilBarrett opened #49 "Mobile experience - Menu bar appearing by default"
The landing screen when you are logged in, shows the menu bar

[2018-10-16 09:32] PhilBarrett commented on #49
![Screen Shot 2018-10-16 at 09.44.54.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236455f56b7191a378e60c2f55415a4abe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5f35aa984ecb51f043e34e56a3103061f43b.png)

[2018-10-16 09:33] PhilBarrett opened #50 "Mobile experience - Helm home button placement"
Not centred. See screenshot

[2018-10-16 09:33] PhilBarrett commented on #50
![Screen Shot 2018-10-16 at 09.44.54.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236455f56b7191a378e60c2f55415a4abe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5f34aa984ecb51f043e34955a3123066f43b.png)

[2018-10-16 09:35] PhilBarrett opened #51 "Mobile experience - Tour"
The tour isn't mobile friendly and the steps don't correlate to the view

[2018-10-16 09:35] PhilBarrett commented on #51
![Screen Shot 2018-10-16 at 09.50.13.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236455f56b7191a378e60c2e51415e4dbe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5f35aa984ecb51f043e34857a0163066f43b.png)
![Screen Shot 2018-10-1

[2018-10-16 09:37] PhilBarrett opened #52 "Mobile experience - Feedback button"
The feedback button doesn't present in a user friendly manner

The feedback button doesn't work when clicked upon

[2018-10-16 09:37] PhilBarrett commented on #52
![Screen Shot 2018-10-16 at 09.45.28.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236455f56b7191a378e60c2f54415d46be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c3caa984ecb51f043e34b51a0123567f43b.png)

[2018-10-16 10:32] PhilBarrett commented on #50
Also check URL

[2018-10-16 10:39] PhilBarrett commented on #51
Also logic that when you launch the tour, it closes the menu

[2018-10-16 10:43] PhilBarrett commented on #47
Might be as redirecting to http rather than https

[2018-10-16 13:29] BogdanScherban commented on #47
Logout process consists of following steps:
1) Send logout request to /api/logout
2) Take success responce
3) Extract redirectURL =  'payload.redirectURL.payload' from responce
4) Clear COOKIE
5) Redirect to redirectURL.

Request /api/logout doesn't work locally without adding "http://dev.ripple.foundation:8000" and "Authorization: 'Bearer '+token"

redirectURL in local-machine is dev.ripple.found

[2018-10-16 13:32] BogdanScherban commented on #51
The issues was fixed.

Now if user runs Tour in mobile mode the sidebar menu is closed automatically (it it was opened before)

[2018-10-16 13:34] PhilBarrett commented on #51
Thanks Bogdan, please can you reference the PR in here. Also do the tour steps align with what is being displayed (i.e you can click on any entry to find the detail - aligned with one of the entries (as per desktop).

[2018-10-16 14:52] simongamester commented on #50
Fixed in PR https://github.com/PulseTile-Plugins/Plugin-Helm-PHR-Theme/pull/15

[2018-10-16 14:53] simongamester commented on #52
[Uploading Screenshot 2018-10-16 at 15.49.49.png...]

[2018-10-16 14:54] simongamester commented on #52
![screenshot 2018-10-16 at 15 49 49](https://user-images.githubusercontent.com/8059219/47025612-babd5700-d15b-11e8-870e-5fbc626eff25.png)

[2018-10-16 14:56] simongamester commented on #50
![Screenshot 2018-10-16 at 15.49.49.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb37967f01e4d00110fba95/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cc6417773e7852e32a64c5b27df116224f5b565cb053181d1ba6acda6fb4bc2e75d80d58b8d2680973946e40a9ec821fb602ef29881ad3b3ae965e82b96371b8d6d6056b5c17129bfe5b3fa19c48c15ff64ae64550a31a3071ab.png)

[2018-10-16 14:57] #50 closed

[2018-10-16 15:15] simongamester commented on #52
Is this ok? I've set the z-index to appear above widgets on the dashboard.

![screenshot 2018-10-16 at 15 59 58](https://user-images.githubusercontent.com/8059219/47026961-73849580-d15e-11e8-8acb-338dc90213e2.png)

It could be positioned lower down the screen, however when the user scrolls to the bottom of the page, it would obscure the ripple logo, so suggest we leave as is:

![screenshot 2018-10

[2018-10-16 15:20] PhilBarrett commented on #49
Linked to https://github.com/PulseTile/PulseTile-React-Core/pull/259

[2018-10-16 16:08] Alena1508 commented on #49
This issue was solved.
When user load the page menu is hidden by default on mobile device, then the user click "Menu" - menu is opened.
Also when user open one of the Summaries items, menu would be hidden by default.

[2018-10-17 07:46] BogdanScherban commented on #12
It has been done. Current Helm-version has Feeds in summary screen

[2018-10-17 08:42] PhilBarrett commented on #12
Reviewed and working fine. thanks @BogdanScherban

[2018-10-18 15:08] BogdanScherban opened #53 "Mobile experience. Patient info goes missing"
Patient information is absent in mobile version.
![123](https://user-images.githubusercontent.com/39263134/47164470-c6964e00-d300-11e8-8abb-07ea3304697c.png)

[2018-10-22 10:47] Alena1508 commented on #53
Hi @ tony-shannon,
I changed Helm for mobile according to mockups. Now we can see the username as in design (https://projects.invisionapp.com/d/main#/console/11007545/316291014/inspect).
It looks this way: http://prntscr.com/l8xn5m

An here I have a question. Arrow button on green background (http://prntscr.com/l8y0dd). But now you’re absent for design:
I would like to see what you are looking for

[2018-10-22 11:22] kuvakina commented on #53
Related to issue #264 https://waffle.io/RippleOSI/combined-development-view/cards/5bc73ff4fb924200570ec00b

[2018-10-22 15:31] PhilBarrett commented on #48
Can we get an update in this issue please and the related PR if complete. Cheers

[2018-10-22 15:34] PhilBarrett commented on #52
Can you take a look at a smaller logo perhaps and see how it looks at the bottom please. Also you can see the copyright notice and RF logo aren't on one line. Perhaps move to the copyright logo instead might fix this.

[2018-10-22 15:38] PhilBarrett commented on #43
Working on dev. Needs latest Dev build promoting onto Staging via @robtweed

[2018-10-22 15:42] kuvakina opened #54 "Top3Things. Complete button not working"
When a user wants to add Top3Thing:

they go to Top Three Things
they click Create button and see Create Top Three Things details on the right
they add 1-3 Top3Things and click Complete button
Should be: 1-3 changes to Top3Things have to be saved and shown in table

Bug: nothing happens when a user clicks Complete button: https://www.screencast.com/t/aMFkQf7eiXJJ

Assume that problem is in server

[2018-10-22 15:43] kuvakina opened #55 "Can open Diagnose datails without Diagnoses"
We can open diagnose details when we have no diagnoses at all: https://www.screencast.com/t/qQv1l2nM1

Related issue #268 https://waffle.io/RippleOSI/combined-development-view/cards/5bcdcb84f4c0a7004421f3b8

[2018-10-22 15:43] PhilBarrett commented on #12
@robtweed Working on dev, but not staging. Query if related to PT build version

[2018-10-22 16:01] PhilBarrett commented on #11
After speaking with Tony, we are closing this issue, may need to reopen in future.

[2018-10-22 16:01] #11 closed

[2018-10-22 16:02] PhilBarrett commented on #42
Working as intended on Dev, will await latest PT build on Staging

[2018-10-22 16:03] PhilBarrett commented on #8
According to latest tests, working fine.

[2018-10-22 16:03] #8 closed

[2018-10-22 16:04] #23 closed

[2018-10-22 16:18] PhilBarrett opened #56 "Selecting an entry from Patient Summary screen, doesn't open that entry in table view"
When you select a medication entry in the patient summary it should take you to the medication in the medication table, with detail open to the right of the table. This behaviour isn't working, see screencast.

[2018-10-22 16:23] PhilBarrett opened #57 "When a table is loading, loading message is required"
See video

[2018-10-22 16:27] PhilBarrett opened #58 "Constraining Medications"
Currently DDS is bringing back each medications entry, some can result in over 300 entries coming over and causing significant delays to the user.

Is there a way to constrain the medications that come back to only show those "current".

[2018-10-23 14:21] robtweed commented on #20
The source for data written to EtherCIS from Discovery is currently reported by QEWD as "GP".  If it needs to be displayed differently in the UI, can't PulseTile do the transformation of a value of "GP" to "EtherCIS via Discovery"?

[2018-10-23 14:22] tony-shannon opened #59 "Patient Summary to be loaded on first login"
On first login, the patient summary screen is empty, until a heading eg Problem is clicked etc

One second login it works as expected- with the patient summary screen loaded with info

The patient summary screen needs to be loaded with relevant info on first login,

[2018-10-23 14:24] tony-shannon commented on #20
PulseTile could, but makes more sense to do that from QEWD, as it is being written as GP by QEWD

[2018-10-23 14:28] PhilBarrett commented on #1
Update following d/w Rob tweed. Awaiting developer access to a 2.1 version of EtherCIS from @chevalleyc

[2018-10-23 14:31] PhilBarrett commented on #15
Update following d/w Rob Tweed - this is complete pending the completion of linked issues #59 and #27

[2018-10-23 14:33] PhilBarrett commented on #14
Linked with #27

[2018-10-23 14:36] PhilBarrett commented on #38
Update following d/w Rob Tweed. Pending access to the live service over HSCN before this can be completed

[2018-10-23 14:38] PhilBarrett commented on #57
Update following d/w Rob Tweed. This is a PulseTile related issue that needs resolving

[2018-10-23 14:40] PhilBarrett commented on #46
Completed via UK Cloud

[2018-10-23 14:40] #46 closed

[2018-10-23 14:41] PhilBarrett commented on #45
@chevalleyc Could you take a look at this please upon your return. Thanks.

[2018-10-23 14:59] PhilBarrett commented on #14
Confirmed as working following d/w Rob Tweed

[2018-10-23 14:59] #14 closed

[2018-10-23 16:48] PhilBarrett commented on #12
@kuvakina  We're getting a second Feed appearing on the summary screen with the latest build on Staging, taken from 8000. So a duplicate of the same feed. Can you take a look please.

[2018-10-24 13:00] kuvakina commented on #12
@PhilBarrett
I see only Feeds like this for "old" user: https://www.screencast.com/t/82Na3xsN

And I don't have feeds at all for new users: https://www.screencast.com/t/ir3Xh4jmfej

Could it be related to this issue: #34 (#17 )?

[2018-10-25 07:52] chevalleyc commented on #45
Could you please relate this issue to an EtherCIS CR or create a new one with a scenario/example to reproduce it in my environment. Thanks!

[2018-10-25 10:53] Alena1508 commented on #57
This PR https://github.com/PulseTile/PulseTile-React-Core/pull/272 - for current task.
I added functionality for "Loading ..." message  on all pages. When tables are loading user can see the message "Loading..."

[2018-10-25 11:12] Alena1508 commented on #53
This issue was fixed.
We change styles for patient's info area.

[2018-10-25 12:55] kuvakina opened #60 "Jenkins E2E tests for Helm update"
because we make changes for Helm, we have to update Helm tests also.

[2018-10-25 14:33] PhilBarrett commented on #12
Hi @kuvakina I've tested this on a new user with an NHS number that hadn't been used before and feeds were being correctly added by QEWD. However they didn't appear on the patient summary screen and when I clicked on the cog, it displayed 3 feeds boxes (duplications). We believe this remains a PulseTile related issue and needs investigation please

[2018-10-25 15:54] PhilBarrett opened #61 "First login - animation to show loading"
We are finding that when a new account is created, the first load of data is taking a long time because of the volume of entries that are coming over and then being written to EtherCIS.

This primarily seems to be with Medications entries, where 400+ entries are retrieved. We are investigating whether there is a way to only display active medications.

In the meantime, we would like to explore how

[2018-10-26 09:29] BogdanScherban commented on #12
@PhilBarrett
Could you please share the screenshot with (at your machine):
1) Feeds boxes duplication;
2) Results of feeds-request.

For example - result at 8000:
![FEEDS.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb3796441a5980011efd33d/125516c66e82c728ace21e0d46ceb1bf07b1c1e5cdf9ad4cae58f3806b1c65262b05a02e23d0e57fbd417a540b5f4ea5420d5647a9af8c39baa47e21d40854b0882

[2018-10-26 10:15] simongamester commented on #52
Maybe we could move the logo over to the left on mobile? Then the icon would fit quite nicely lower down in the bottom right space without overlapping?

[2018-10-26 10:33] simongamester commented on #12
This need to be tested once latest QEWD version has been updated.

[2018-10-26 10:35] simongamester commented on #47
@kuvakina Do you know if this is still an issue? Has anyone been able to replicate on login.myhelm?

[2018-10-26 10:37] simongamester commented on #56
@BogdanScherban Could we get an update on this issue please?

[2018-10-26 12:29] kuvakina commented on #47
@simongamester yes, it's still present (you can see it on the video): https://www.screencast.com/t/bbQJJXe36

Also, after you got error msg, if you delete /openid/session/end and reload a page, you'd go on Patient Summary page

[2018-10-26 12:42] Alena1508 commented on #56
Added some functionality to Core pages to fix the problem with selecting empty item from Patient Summary screen.
Now when user click on Medication item on Patient Summary screen he'll see the page with current item.
PR:
1) https://github.com/PulseTile/PulseTile-React-Core/pull/273
2) https://github.com/PulseTile-Plugins/Silver-Plugin-Vaccinations/pull/6

[2018-10-26 16:24] kuvakina opened #62 "Helm E2E tests failure"
although tests were updated, for some reason:

Most of the tests fail on Remote machine : https://www.screencast.com/t/UL8Ov43V

patientAccordionTest and patientInformationTest fail on Jenkins (we had the same problem with React tests before): https://www.screencast.com/t/iges2cZXb

We thought it can be because we run out of memory (not the reason) or we again have a miner (also not the reason).

[2018-10-29 08:00] BogdanScherban commented on #60
Only one test worked incorrectly after Helm-version rebranding. The reason was absence information about birth date of test user. We updated the tests: if user birth date is absent we don't checks it presence.

Work of all other E2E tests was checked. They work correctly.
Issue has been done.

[2018-10-29 13:46] BogdanScherban commented on #12
@robtweed
Rob, could you please help with this issue?

Phil sent result of Feeds-request at his machine:
![Screen Shot 2018-10-29 at 10.07.22.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb3796441a5980011efd33d/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236456fa6b7191a379ef0c2b56415d4cbe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b97582

[2018-10-29 14:45] PhilBarrett commented on #61
Relates to https://github.com/RippleOSI/Helm-PHR-Generator/pull/26

[2018-10-29 14:52] PhilBarrett commented on #24
Confirmed as set up

[2018-10-29 14:52] #24 closed

[2018-10-29 14:53] PhilBarrett commented on #52
https://github.com/PulseTile-Plugins/Plugin-Helm-PHR-Theme/pull/24

[2018-10-29 14:55] PhilBarrett commented on #12
Linked with https://github.com/LeedsCC/Helm-PHR-Project/issues/17

[2018-10-31 09:32] #17 closed

[2018-10-31 09:37] PhilBarrett commented on #12
This has been resolved and tested.

If you change the NHS Number of a user to one that's not been used before - it assumes it has to add a new feed record, which is held in the QEWD database, not the OpenEHR database

The POST API was modified so it doesn't create duplicates.

Not an issue in Live anyway, more test account related.

[2018-10-31 09:37] #12 closed

[2018-10-31 09:48] PhilBarrett opened #63 "RSS feed Cors.io"
When I log into Helm, the feeds module doesn't load.

[2018-10-31 09:49] PhilBarrett commented on #63
![Screen Shot 2018-10-31 at 08.58.34.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236457f26b7191a378e70c2e59415c4abe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c3daa984ecc58ff4ce84e56ac113e6af43b.png)
![Screen Shot 2018-10-3

[2018-10-31 09:51] PhilBarrett opened #64 "Staging.myhelm.org/null error"
Needs investigation for this error. See screenshot

[2018-10-31 09:51] PhilBarrett commented on #64
![Screen Shot 2018-10-31 at 09.08.00.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236457f26b7191a378e60c2b59415f4ebe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c3daa984ecc58ff4ce8495ca6123464f43b.png)

[2018-10-31 09:52] PhilBarrett commented on #64
![Screen Shot 2018-10-31 at 08.58.34.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236457f26b7191a378e70c2e59415c4abe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c32aa984ecc58ff4ce84857a7113e6af43b.png)
![Screen Shot 2018-10-3

[2018-10-31 09:54] PhilBarrett commented on #47
@Alena1508 @kuvakina Could you take a look at this one please?

[2018-10-31 09:59] PhilBarrett commented on #54
![Screen Shot 2018-10-31 at 09.59.09.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236457f26b7191a378e60c2e58415f47be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c32aa984ecc58ff4ce84453a3103562f43b.png)

@Alena1508 can you tak

[2018-10-31 10:03] PhilBarrett commented on #52
Working fine.

[2018-10-31 10:03] #52 closed

[2018-10-31 10:05] PhilBarrett commented on #53
Tested and working as intended, thanks Alena

[2018-10-31 10:05] #53 closed

[2018-10-31 10:10] PhilBarrett commented on #57
Reviewed, working fine. thanks

[2018-10-31 10:10] #57 closed

[2018-10-31 10:16] PhilBarrett commented on #48
Hi @simongamester I've tested this and still encountering the issue. The helm text is overlapping the circles.

[2018-10-31 10:17] #43 closed

[2018-10-31 10:19] PhilBarrett commented on #44
Tested working fine

[2018-10-31 10:19] #44 closed

[2018-10-31 10:23] PhilBarrett commented on #56
Reviewed, working fine. Thanks.

[2018-10-31 10:23] #56 closed

[2018-10-31 10:35] PhilBarrett commented on #42
Closed in error. Still seeing DOB in profile on staging

[2018-10-31 10:58] PhilBarrett commented on #39
Ripple Audit by email is showing errors and other views aren't working at present.

[2018-10-31 11:05] PhilBarrett commented on #20
After discussion with Tony, preference is that QEWD transfers the data with "EtherCIS via Discovery" and then PulseTile displays that value in the source information, and transforms that to "GP" in the summary tables. The system information should state  "EtherCIS via Discovery".

1. QEWD transfers the data to pulsetile with the label  "EtherCIS via Discovery"
2. PulseTile transforms that for the

[2018-10-31 12:47] PhilBarrett opened #65 "Extra demographics API call"

[2018-10-31 14:36] Alena1508 commented on #54
@PhilBarrett

I've checked it on my local machine and on dev (8000) and complete button working. I can't check functionality of this button on staging, because I have to look in the code.

But still, as Alexandra showed on screens above, I think it's a wrong response from server.

[2018-11-01 11:14] PhilBarrett commented on #54
Checked on Staging and working as intended. Closing this issue for now

[2018-11-01 11:14] #54 closed

[2018-11-01 13:02] BogdanScherban commented on #65
The issue has been solved.

I found a reason of twice demographics request. The reason was sending of this request in two places in the code. I removed one of them and check work of application by unit-tests

You can see that demographics request is sent one time (instead of two as earlier):
![imag111111111111111111e](https://user-images.githubusercontent.com/39263134/47853348-23a50000-dde7-11e8-8

[2018-11-01 13:11] BogdanScherban commented on #20
@PhilBarrett or @tony-shannon
Could you please clarify this issue:
1) Is it necessary for each row, where source is 'ethercis' like this one:
![11221122.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb3796441a5980011efd33d/125516c66e82c728ace21e0d46b9c5c871d3d2fbddabf301b44fff9e2c4533317346f6297186e67bea442c030c0e4bf841585647a9f08a7ef0b32e6c981e5ab38532022d8c6853beb2901

[2018-11-01 13:42] PhilBarrett commented on #20
In both Staging and Production, we have information coming from Primary Care (https://en.wikipedia.org/wiki/Primary_care), which is often shortened to GP (General Practitioner) via the Discovery Data Service (http://www.discoverydataservice.org). In the table view for information coming over from DDS, it says GP, this is fine. in the System information box within the detail of an entry, it should

[2018-11-01 13:47] BogdanScherban commented on #63
@robtweed  Rob, could you please help with this issue.

Maybe you remember, that we had problems with cross-domain requests for Feeds.
Later you suggested to solve this problem by adding 'https://cors.io/?' in front of request:

![screenshot from 2018-11-01 15-47-05](https://user-images.githubusercontent.com/39263134/47855483-68cc3080-dded-11e8-9c37-fea08b01ce61.png)

But now we have problem with

[2018-11-01 14:16] BogdanScherban commented on #64
@PhilBarrett @robtweed
I tried to find a reason of this problem. I have a assumption it is related with Feeds-problem:
https://github.com/LeedsCC/Helm-PHR-Project/issues/63

Why? Lets compare two cases.

Case 1: RSS-request for Feeds was sent. We can see problem with NULL in Console
![01 - null](https://user-images.githubusercontent.com/39263134/47856873-ea718d80-ddf0-11e8-8517-5578a44f6b6f.png)

[2018-11-01 15:39] PhilBarrett commented on #1
Linked with https://github.com/RippleOSI/Ripple-QEWD-Microservices/issues/13

[2018-11-01 17:31] kuvakina commented on #42
@PhilBarrett you mean this date: https://www.screencast.com/t/YMijILkuy ?

[2018-11-01 17:36] PhilBarrett commented on #63
@kuvakina PR merged, will review with latest build on 8000 before closing

[2018-11-01 17:43] PhilBarrett commented on #42
@kuvakina https://www.screencast.com/t/kZOjC9ayQb2 needs to be hidden please.

[2018-11-02 10:42] BogdanScherban commented on #64
This issue has been done.

The reason was in trying to open image URL (which isn't showed in current version.

We added:
1) theme settings: is we show page synopsis images?
2) checking this setting in Synopsis componen

[2018-11-05 16:14] kuvakina commented on #42
@PhilBarrett We hid the date.

[2018-11-05 16:14] kuvakina commented on #42
@PhilBarrett We hid the date.

[2018-11-06 11:39] kuvakina opened #66 "Hide user admin page in Helm PHR"
The user admin page should be generally hidden in Helm PHR.

Users shouldn't see this info: https://www.screencast.com/t/xmgkAsxf

[2018-11-06 14:11] BogdanScherban commented on #66
This issue has been done.

New parameter isShowUserAccountPage was added to theme settings.

User can pass to User Account page depends on value of this parameter.

By default isShowUserAccountPage = true.

[2018-11-06 14:16] kuvakina commented on #62
@tony-shannon @PhilBarrett

As we hid the page user shouldn't see in Helm PHR (#66 https://waffle.io/RippleOSI/combined-development-view/cards/5be17d71657a7d00ed970b09 ), we updated tests for Helm also and now E2E test on Jenkins and remote machine pass successfully:

RM: https://www.screencast.com/t/6Xdx3teQ

[2018-11-06 15:38] PhilBarrett commented on #62
Great news, thank you @kuvakina . Do you know what would need to happen to resolve it, when we bring the profile back at a later stage. If you can document that here please, we can close it down. Thanks

[2018-11-07 16:49] Alena1508 commented on #47
@tony-shannon  @PhilBarrett

I'm currently looking  into this problem.

I've found that it happens only safari browser, both for mobile and web and only for myHelm.

I'm searching for solution and tried a few things:

1) to turn off secure cookies  in privacy settings in Safari, but it didn't
solve the problem.

2) to add the csrf information to the header of the  requests (currently looking how t

[2018-11-08 11:00] PhilBarrett opened #67 "Accessibility enhancements - Toolbar inactivity"

[2018-11-08 11:01] PhilBarrett opened #68 "Accessibility enhancements - Button Labelling"

[2018-11-08 11:02] PhilBarrett opened #69 "Accessibility enhancements - Colour Contrast"

[2018-11-08 11:02] PhilBarrett opened #70 "ac"

[2018-11-08 11:04] PhilBarrett opened #71 "Accessibility enhancements - Document Titles"

[2018-11-08 11:05] PhilBarrett opened #72 "Accessibility enhancements - Form element labels"

[2018-11-08 11:05] PhilBarrett opened #73 "Accessibility enhancements - Focus"

[2018-11-08 11:05] PhilBarrett opened #74 "Accessibility enhancements - Tab Index"

[2018-11-08 11:06] PhilBarrett opened #75 "Accessibility enhancements - Keyboard Shortcuts"

[2018-11-08 11:06] PhilBarrett opened #76 "Accessibility enhancements - Menu Navigation"

[2018-11-08 11:07] PhilBarrett opened #77 "Accessibility enhancements - Table Interactivity"

[2018-11-08 11:07] PhilBarrett opened #78 "Accessibility enhancements - Greyscaling"

[2018-11-08 11:13] Alena1508 commented on #47
I founded several variants to solve this problem (they are stated above).
But I couldn't fully see if the problem was solved or not, because locally and on dev.ripple.foundation:8000 it works.

"The “Invalid or missing CSRF token” message means that browser couldn’t create a secure cookie, or couldn’t access that cookie to authorize the login. This can be caused by ad- or script-blocking plugins,

[2018-11-08 11:37] PhilBarrett commented on #67
Fixed by PR https://github.com/PulseTile/PulseTile-React-Core/pull/287

[2018-11-08 11:37] PhilBarrett commented on #68
Fixed by PR https://github.com/PulseTile/PulseTile-React-Core/pull/287

[2018-11-08 11:41] simongamester commented on #78
Hi @PhilBarrett

I think this may be the same as the colour contrast issue #69. Can't find this as an item with the original accessibility review.

OK to close?

Simon

[2018-11-08 11:46] PhilBarrett commented on #78
Duplication of #69

[2018-11-08 11:46] #78 closed

[2018-11-08 11:46] simongamester commented on #69
- [ ] Add a button to the header to toggle high contract mode.
- [ ] Button sets a class in the body
- [ ] Update theme to apply high contrast colour scheme throughout the UI

[2018-11-08 11:47] simongamester commented on #69
@PhilBarrett @tony-shannon  I was thinking this should be a good icon to toggle high contrast mode in the top toolbar, what do you think?

https://fontawesome.com/icons/adjust?style=solid

Want me to mock this up?

Simon

[2018-11-08 11:52] simongamester commented on #48
@PhilBarrett I'll take a look...

[2018-11-08 12:15] simongamester commented on #48
@robtweed @PhilBarrett  Just taken a look at the main.css on login.myhelm.org and I think it needs updating.  See comparison below:

https://www.diffnow.com/?report=06dbc

I think this is causing the padding issues as it addresses the live version is still running the smaller font size on the form elements.

Thanks,

Simon

[2018-11-08 12:33] PhilBarrett commented on #69
Nice idea, yes please

[2018-11-08 16:53] kuvakina commented on #47
as Phil mentioned, we think the problem with redirecting to http rather than https. There are security issues with Safari browser.

Because stage.myhelm.org is using https, but local machine and 8000 using htttp.

[2018-11-09 11:29] tony-shannon opened #79 "Helm PHR documentation - inc Generator & End2End testing"
Need documentation, in related repos for Helm Generator & E2E tests

[2018-11-09 14:36] kuvakina commented on #47
This issue was fixed by Rob.
The problem was with logour form redirecting to http rather than https, as Phil mentioned, and it was related to the OpenId Connect server.

After tests in Safari browser (both web and mobile), logout is working correctly.

@tony-shannon @PhilBarrett Can we consider this task as Done?

[2018-11-19 08:41] #67 closed

[2018-11-19 08:41] #68 closed

[2018-11-22 12:07] kuvakina commented on #79
Added Documentation for Helm Generator here https://github.com/LeedsCC/Helm-PHR-Generator

Added Documentation for Helm E2E tests here https://github.com/LeedsCC/Helm-End2End-Tests

[2018-11-22 12:07] #79 closed

[2018-11-22 12:29] kuvakina commented on #66
User can't go to admin page in Helm PHR. See the video: https://www.screencast.com/t/QY37Kc4Vc

[2018-11-22 13:14] kuvakina commented on #62
React E2E tests failed in Jenkins because of malware. But we cleaned server from malware and changed passwords on Jenkins for all users (I sent new passwords on your emails).

Now React tests passes in both Jenkins & RM.

@tony-shannon @PhilBarrett

[2018-11-22 13:16] kuvakina commented on #42
@PhilBarrett @tony-shannon

DOB there is still hidden.

[2018-11-22 13:42] kuvakina commented on #65
Please see #280 https://waffle.io/RippleOSI/combined-development-view/cards/5bd9a6281f6d42002502bcb9

@tony-shannon @PhilBarrett

[2018-11-22 13:44] kuvakina commented on #60
Tests were updated according to the latest changes and work correctly in Jenkins.

@tony-shannon @PhilBarrett

[2018-11-22 14:40] #60 closed

[2018-11-22 14:41] PhilBarrett commented on #65
Thanks @kuvakina happy for this to be closed.

[2018-11-22 14:41] #65 closed

[2018-11-22 14:42] PhilBarrett commented on #63
Checked also, working fine.

[2018-11-22 14:42] #63 closed

[2018-11-22 14:45] PhilBarrett commented on #64
Thanks @kuvakina , I've not seen since either, closing out.

[2018-11-22 14:45] #64 closed

[2018-11-22 14:54] #42 closed

[2018-11-22 14:56] PhilBarrett commented on #62
@kuvakina do you have an update on my earlier point you can add here please, before we close this issue. Thanks

[2018-11-22 14:57] #47 closed

[2018-11-22 15:29] kuvakina commented on #62
@PhilBarrett We can't tell where was the error with that two tests.

We can check it, but for this, we have to return the tests and re-build :8000. Then we can try to find the issue.

Should we do this?

[2018-12-04 16:21] simongamester commented on #74
@PhilBarrett I've just reviewed tab-based navigation with the latest versions of Chrome and Safari and both seem to work quite intuitively without setting a tabindex on interactive elements. My biggest concern was that the UI would tab through the side bar menu items when the side bar was collapsed, however this is not the case. The browser appears to identify the sidebar is hidden and skips these

[2018-12-04 16:34] simongamester commented on #72
@PhilBarrett I've checked the current UI and the only form we have is for Top 3 Things, the others in the system as outlined in the report i.e. Edit Diagnosis aren't live in Helm. I've run the Top 3 Things Edit for through aXe and we're not getting a Form Label error, so suggest we leave this one.

[2018-12-11 11:27] PhilBarrett opened #80 "Pivoting to LCC Smart Survey"
from click4assistance.

More details to follow

[2018-12-11 11:28] PhilBarrett opened #81 "Remove Auth0 script"
Defunct line of code within the Helm application

[2018-12-11 13:01] PhilBarrett opened #82 "As a user I need the ability to easily submit feedback/experience when using Helm."
As a user I need the ability to easily submit comments when using Helm.

At present there is a solution in use provided by Click4Assistance. We would like to recreate the behaviour where a user can click the feedback button (mobile and desktop) and enter the following information:

Header: "Comments"
**Name** (Mandatory) - Single text box
**Email** (Mandatory) - Single text box
**Phone number ** (

[2018-12-11 16:35] PhilBarrett opened #83 "Browser Cache Settings"
Requirement to not store browser cache.

Change HTML head of a page via the following tag: - <META HTTP-EQUIV='Cache-Control' CONTENT='no-cache, no-store'> HTTP 1.1. Allowed values = PUBLIC | PRIVATE | NO-CACHE | NO-STORE. - Public - may be cached in public shared caches. - Private - may only be cached in private cache. - No-Cache - may not be cached. - No-Store - may be cached but not archived.

[2018-12-12 17:39] PhilBarrett commented on #82
https://docs.smartsurvey.io/docs/getting-started

**API Key and secret to be securely provided**

Fields:

"Full Name"                : Open-ended         Single textbox   Answer type: text
"Email"                         : Open-ended         Single textbox   Answer type:  text
"Phone number"      : Open-ended         Single textbox   Answer type:  text
"Feedback"                 : Open-ended

[2018-12-13 09:12] PhilBarrett commented on #81
Defunct line of code

[2018-12-13 14:30] simongamester commented on #82
@PhilBarrett I've added a mock up for this on InVision.

https://invis.io/6DNMOSUWX29

Also attached below:

![Support Modal.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb37967f01e4d00110fba95/125516c66e82c728ace21e0d46db818a338d91bdcfc4b047a551b2d86b56357c2301a03f32dfa17dbd4378045c5a18ab130b0e41a8f98922a5e33573df0a0effcd7f1d2598694ef1e1c84afd13b032894f8fb7b98e48c7e93

[2018-12-13 16:22] simongamester commented on #82
@PhilBarrett Added screens for mobile version and thank you message.

https://invis.io/6DNMOSUWX29#/336877122_Support_Modal_-_Mobile

![Support Modal - Mobile.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb37967f01e4d00110fba95/125516c66e82c728ace21e0d46db818a338d91bdcfc4b047a551b0d9696b28712008a6693cc7f33ab0487e021b4d44be440a0e17a9fa8c7da1e46f218f080bedd86e0a7dc56847a

[2018-12-13 17:13] tony-shannon commented on #82
looks good, though suggest we change
sensitive --> personal

[2018-12-13 18:59] PhilBarrett commented on #82
Thanks Tony.

@simongamester could you make this minor amend please.

[2018-12-14 13:17] BogdanScherban commented on #81
This issue has been done. What was done:
1) auth0 script was removed from index.html;
2) all functionality which used Auth0, was removed
3) checked workability by unit-test and manually

[2018-12-18 10:04] #81 closed

[2018-12-18 10:05] PhilBarrett opened #84 "Removal of chat/feedback function"
Please can click4assistance be removed from the Helm codebase (Dev/Staging/Prod) and retested.

Same for Auth0

[2018-12-19 14:37] PhilBarrett commented on #82
@BogdanScherban Considering the shared secret as part of this, I assume this will need to be stored within QEWD, or is there a secure way to store the secret within PulseTile please. Our instinct is server side.

[2019-01-03 09:39] kuvakina opened #85 "Helm E2E tests fail on Jenkins"
We noticed, that Helm E2E test fails both locally and on Jenkins. In the report, an error is with patientSummaryTest.

Bogdan currently looking into the issue.

[2019-01-03 11:43] kuvakina commented on #85
FIXED.

The reason of PatientSummary test errors in Helm-version was in markup changes in Patient Summary panels.

Early test tried to find h3 title in Patient Summary panel.

In new Helm PHR it was changes to h2, but Showcase has h3 as early.

New version of test tries to find div with class="board-title" (equal both for Showcase and Helm)

[2019-01-22 15:13] #32 closed

[2019-01-22 15:15] PhilBarrett commented on #82
@BogdanScherban / @kuvakina Could you advise on earlier question please

[2019-01-22 15:53] BogdanScherban commented on #82
@PhilBarrett
Speaking honestly, I'm not fully understand why should be add shared secret here.. As I understand, this is a simple feedback form, which is presented in a lot of web-application, correct?

It is necessary to create required API route for adding feedback to the database at the server side.
If I understand correctly, it should be in QEWD.

[2019-01-22 16:37] PhilBarrett commented on #82
Thanks @BogdanScherban . It's integrating with a secure survey tool, so an API key / shared secret is required I understand. @robtweed can this be handled in QEWD rather than PT layer?

[2019-01-23 16:51] PhilBarrett commented on #82
Signed off screens
**Desktop**
https://projects.invisionapp.com/share/6DNMOSUWX29#/screens/336846841
https://projects.invisionapp.com/share/6DNMOSUWX29#/screens/336877121

**Mobile**
https://projects.invisionapp.com/share/6DNMOSUWX29#/screens/336877122

[2019-01-23 17:00] kuvakina opened #86 "Create E2E tests for top3Things"
As we met problem, was discovered that we don't have E2E tests for Feeds and also for Top3Things.

Put as a task to create those tests

Approx estimated time:  4h

[2019-01-23 17:35] tony-shannon commented on #82
how about "Please tell us the reason for your comment"

[2019-01-28 10:55] #85 closed

[2019-01-28 10:57] #66 closed

[2019-01-28 10:58] PhilBarrett commented on #66
Checked, working fine. Thank you

[2019-01-28 11:04] PhilBarrett commented on #69
@simongamester Can you confirm if this been done please

[2019-01-28 11:04] PhilBarrett commented on #70
Can you provide an update in here please, before I close off. Thanks @simongamester

[2019-01-28 11:05] PhilBarrett commented on #71
Can you provide an update in here please, before I close off. Thanks @simongamester

[2019-01-28 11:05] PhilBarrett commented on #72
Safe to close @simongamester then?

[2019-01-28 11:06] PhilBarrett commented on #74
OK no problem, still happy to close this out ? @simongamester

[2019-01-28 11:06] PhilBarrett commented on #77
Can you provide an update in here please, before I close off. Thanks @simongamester

[2019-01-28 11:06] PhilBarrett commented on #75
Can you provide an update in here please, before I close off. Thanks @simongamester

[2019-01-28 11:06] PhilBarrett commented on #76
Can you provide an update in here please, before I close off. Thanks @simongamester

[2019-01-28 11:17] simongamester commented on #76
@PhilBarrett this has been completed.

[2019-01-28 11:17] simongamester commented on #75
@PhilBarrett this has been completed.

[2019-01-28 11:17] simongamester commented on #77
@PhilBarrett this has been completed.

[2019-01-28 11:17] simongamester commented on #74
@PhilBarrett this has been completed.

[2019-01-28 11:18] simongamester commented on #73
@PhilBarrett this has been completed.

[2019-01-28 11:18] simongamester commented on #72
@PhilBarrett yes, ok to close.

[2019-01-28 11:18] simongamester commented on #71
@PhilBarrett this has been completed.

[2019-01-28 11:18] simongamester commented on #70
@PhilBarrett this has been completed.

[2019-01-28 11:19] simongamester commented on #69
@PhilBarrett this has been completed.

[2019-01-28 17:13] kuvakina opened #87 "Feeds not loading"
On http://dev.ripple.foundation:8000 Feeds are not loading.
Assume that problem in cross-domain requests: https://www.screencast.com/t/NlxlcU2mwvS6

Also, noticed one thing. All Feeds has Remote Address: 217.198.117.111:443 .
Tried to go to this address but got this error message:

400 Bad Request
The plain HTTP request was sent to HTTPS port

[2019-01-30 15:05] #80 closed

[2019-01-31 12:06] tony-shannon opened #88 "nginx config"
nginx config needs updating for pen test sev 2 issues

[2019-01-31 15:56] PhilBarrett opened #89 "Forgotten password screen isn't rendering correctly"

[2019-01-31 15:56] PhilBarrett commented on #89
![Screen Shot 2019-01-31 at 15.55.29.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77226457f26b7191a379ea0c2e54415d47be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5f35aa984ecc50ff4ee14f55a6103360f43b.png)

[2019-01-31 17:00] kuvakina commented on #88
@PhilBarrett Could you please give access to the doc?

[2019-02-01 12:07] kuvakina opened #90 "Can't logout from staging.myhelm.org"
when I logout i see nothing after: https://www.screencast.com/t/6426gfgItM
and URL is: https://staging.myhelm.org/openid/session/end?id_token_hint=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkZyajJ5VDNkVjlQdFVmYTdvQS1fREhybHZ0Tm5JaGE1N2FMTzhHXy1BZVUifQ.eyJlbWFpbCI6ImEua3V2YWtpbmFAcGlvZ3JvdXAubmV0IiwibmhzTnVtYmVyIjo5OTk5OTk5MDA2LCJmaXJzdE5hbWUiOiJBbGV4YW5kcmEiLCJsYXN0TmFtZSI6Ikt1dmFraW5hIiwibW9iaW

[2019-02-01 12:08] kuvakina commented on #89
There we have to fix styles.
Also the same problem with login: https://www.screencast.com/t/misn5mYx36nr

[2019-02-01 12:09] kuvakina opened #91 "Fix styles on staging.myhelm.org"
There seems to be problems with style in whole project: https://www.screencast.com/t/eYoHq35ZGE . All icons and favicon not loaded.

Were there some changes recently?

[2019-02-01 16:18] kuvakina commented on #91
Compared with :8000, there is a list of the impacted icons/areas:

1) Backgrounds on Home page:
now this way: https://www.screencast.com/t/NS8gcrvczEL
should be this way: https://www.screencast.com/t/vpMmV8Zu

2) Header icons:
now this way: https://www.screencast.com/t/0ThqQU1vdqE
should be this way: https://www.screencast.com/t/F2QyawMj

3) Footer icon and font:
now this way: https://www.screenca

[2019-02-04 15:13] tony-shannon commented on #88
Helm nginx config should be mirrored on the Helm Dev servers in Digital Ocean

[2019-02-04 15:20] tony-shannon commented on #83
@PhilBarrett to provide update on this please

[2019-02-04 15:22] tony-shannon commented on #83
This requirements comes from Pen test issue #SC-1489, sev 2 issue to be fixed
Fix is detailed above

[2019-02-05 16:59] PhilBarrett opened #92 "NGINX change investigation"
Investigate impact of making following NGINX changes in Dev

 -    add_header Content-Security-Policy "default-src 'self'; frame-ancestors 'self'";
 - add_header Feature-Policy "geolocation none;midi none;notifications none;push none;sync-xhr none;microphone none;camera none;magnetometer none;gyroscope none;speaker self;vibrate none;fullscreen self;payment none;";
 - add_header Referrer-Policy "no

[2019-02-05 17:09] tony-shannon commented on #87
@simongamester could you take a look at this in our helm dev environment please
CORS related issue and Rob T suggested you may be able to help

T

[2019-02-06 15:08] tony-shannon commented on #91
Rob has confirmed this is resolved since nginx changes reversed, to be reviewed again;

See here
https://waffle.io/RippleOSI/combined-development-view/cards/5c52e4d60f6d750539e34f21

[2019-02-06 15:08] #91 closed

[2019-02-06 15:08] tony-shannon commented on #90
Rob has confirmed this issue is resolved, related to nginx changes now reversed

See more here
https://waffle.io/RippleOSI/combined-development-view/cards/5c52e4d60f6d750539e34f21

[2019-02-06 15:09] #90 closed

[2019-02-07 14:44] kuvakina opened #93 "Issue with cookie (Home page)"
On https://helm-dev.ripple.foundation and also on staging/prod, we noticed next:

when you click on settings icon: https://www.screencast.com/t/PLFqtqsawQ
and when you choose only some issues to show - you would see which you have chosen.

But when you reload the page or go to another page and then back - you'd see default issues.

@PhilBarrett suggested, that we need a cookie or similar

[2019-02-07 14:56] kuvakina opened #94 "Feeds should be a default"
On https://helm-dev.ripple.foundation Feeds not available.

this happens when the user doesn't have any Feed, he gets an empty response: https://www.screencast.com/t/Et9MkfQx and that's why he doesn't see Feeds.

But feeds should be as default -  every new patient should have a feeds record on registration.

[2019-02-08 08:53] PhilBarrett commented on #39
@tony-shannon - Is this still required. @kuvakina needs more information on it please?

[2019-02-08 09:02] PhilBarrett commented on #89
This relates to NGINX changes investigation #92

[2019-02-08 16:00] kuvakina opened #95 "Create Jenkins CI for auto builds for diff versions"
At the moment we have next Projects: Showcase , Helm , Scotland , React Admin , QEWD , QEWD-Courier. And our task is to make that those versions have to work when combined (eg. Helm + QEWD , Helm + QEWD-Courier etc.).

To avoid making mistakes by building them manually, we came up with a suggestion to make it with CI. For this was chosen Jenkins as OS.

Also, we came up that we would use one domai

[2019-02-08 18:05] tony-shannon opened #96 "myHelm title bar"
myHelm missing in browser title bar

[2019-02-08 18:07] tony-shannon commented on #96
https://snag.gy/G6PyUn.jpg

see screenshot

[2019-02-11 10:23] PhilBarrett opened #97 "Github Security vulnerability check"
We found a potential security vulnerabilty in one of your dependencies

We found a potential security vulnerability in a repository for which you have been granted security alert access.

Image removed by sender. @LeedsCC

LeedsCC/Helm-PHR-Generator

Known low severity security vulnerability detected in lodash < 4.17.11 defined in package-lock.json.

package-lock.json update suggested: lodash ~> 4

[2019-02-12 07:56] PhilBarrett commented on #96
Should be Helm, not myHelm

[2019-02-12 09:38] BogdanScherban commented on #87
The issue has been fixed

[2019-02-14 14:24] kuvakina commented on #94
@tony-shannon @PhilBarrett upd on issue:

the problemis the next: if nhsNumber already exists in the system then Feeds won't be shown. If nhsNumber doesn't exist in the system then Feeds would be loaded.

We can't tell why it's working this way, maybe @robtweed could help with it?

[2019-02-18 13:30] tony-shannon commented on #88
parking for now, until we will revisit when safe to do so

[2019-02-18 13:33] tony-shannon commented on #93
need to decide if we are storing these values in the browser (can be easily reset with reloading of page, so not ideal) or server (needs more work on MPI/user preferences)

[2019-02-18 13:33] PhilBarrett opened #98 "Update Helm Sketch files"
Update the Sketch files for the Helm UI to mirror the current built UI.

[2019-02-18 13:35] tony-shannon commented on #93
Q about Cookie.. how much can store & for how long, as we have a problem with clearing Cookies

[2019-02-18 13:35] tony-shannon commented on #93
Q about how to clear cookies as well please

[2019-02-18 13:36] tony-shannon commented on #93
JWT errors etc need way to clear cookies easily

[2019-02-18 13:37] #95 closed

[2019-02-18 13:38] tony-shannon commented on #93
should be way to do garbage collection of cookies better

[2019-02-18 13:40] tony-shannon commented on #83
@kuvakina can you please advice inc relationship to cookies etc

[2019-02-18 13:40] tony-shannon commented on #62
E2E tests need revisiting and updating please

[2019-02-19 12:20] kuvakina commented on #94
**UPD 19, Feb 2019** :

I've changed nhsNumber from 9999999008 to 96348091108, and now I can see Feeds: https://www.screencast.com/t/rPcxBA5glbiv

It's the same that Rob explained to Dima:
" _In OIDC-admin you specify the NHS Number for a user. If that NHS Number does not yet exist on the EtherCIS system, then QEWD-Courier will issue an OpenEHR request to create that user on the EtherCIS server, a

[2019-02-19 15:22] kuvakina commented on #96
"myHelm" on login part, and if i'm correct this is a part where Simon works

[2019-02-19 15:22] kuvakina commented on #96
"myHelm" on login part, and if i'm correct this is a part where Simon works

[2019-02-20 09:33] kuvakina opened #99 "Clear cookies and cache when tab/browser closed"
Check this with Bogdan and Dima

also

Requirement to not store browser cache.

Change HTML head of a page via the following tag: - HTTP 1.1. Allowed values = PUBLIC | PRIVATE | NO-CACHE | NO-STORE. - Public - may be cached in public shared caches. - Private - may only be cached in private cache. - No-Cache - may not be cached. - No-Store - may be cached but not archived.

[2019-02-20 13:31] kuvakina commented on #99
The idea is to clear cookies and caches when user log out from the app:
1) when user sign out himself (by clicking Sign out button);
2) when user sign out forcefully after <1h>.

I think clear cookies and caches in the first case won't be a problem. But we have to think of the way how to do it (in the best way) for the second case. Especially, when user close app/browser before he could log out (h

[2019-02-20 14:13] tony-shannon commented on #99
Perhaps for now, though we should store this server side soon.. another case for a Helm MPI @PhilBarrett

[2019-02-20 14:31] kuvakina commented on #87
The issue with RSS-feeds displaying was fixed by using another proxy-server for CORS:
const CORS_PROXY = "https://cors-anywhere.herokuapp.com/";

[2019-02-20 14:56] tony-shannon commented on #87
ok this CORS solution may be blocked in future for security reasons, we need to consider other ways that we can get around this, who can investigate? i

[2019-02-21 09:07] BogdanScherban commented on #87
@tony-shannon
This solution - to use some proxy server for Feeds CORS - was suggested by @robtweed in June of last year.
Unfortunately, this is temporary solution. It will work until https://cors-anywhere.herokuapp.com/ is available. But this is only one way, how I can solve this issue from frontend side.

Probably, we can try to run this request via server-path like:
we run API-request to QWED fo

[2019-02-21 09:39] BogdanScherban commented on #99
@tony-shannon @kuvakina

I can't repeat the problem at my local-machine or at helm-dev.
Please, show me the video of error with opened console.

PulseTile-ReactJS has error handling. In described case, server should return error with code 400 and one of these messages:
_'Authorization Header missing or JWT not found in header (expected format: Bearer {{JWT}}',
'Invalid JWT: Error: Token expired',

[2019-02-21 15:23] kuvakina opened #100 "Error 400, a message when click on profile name"
In Helm-dev:

When clicking on the user's name second time here: https://www.screencast.com/t/2O1eNRuwr , user get message "Error 400: MicroService incorrectly defined for destination: mpi_service".

See in video: https://www.screencast.com/t/2tBgopJ1u

@DmitrySolyannik could you please look at this in the first instance?

[2019-02-22 16:59] kuvakina opened #101 "Top3Things: bug when create the issue"
while testing mango-cookie, I've noticed one thing when we create Top3Things.
I checked it on helm-dev and this issue was there also. I recorded it: https://drive.google.com/file/d/1oEIZFCLh2bpiNaa6MM_2NOeaqwVjlJo5/view .

Is it ok or it should be fixed later (in both versions)?

[2019-02-25 12:01] BogdanScherban commented on #100
@kuvakina

The reason is that user profile page is unavailable in Helm version. When user click on name in User Panel, it should redirect him to the /profile page. But if this page is unavailable, user will be redirected to the homepage (with charts).

I fixed this issue and created PR:
https://github.com/PulseTile/PulseTile-React-Core/pull/303

[2019-02-25 14:35] DmitrySolyannik commented on #92
Hello Guys, I've added new headers to helm-dev server , but I changed them because I had an errors.
1) Now Content-Security-Policy :
Content-Security-Policy “default-src ‘self’; frame-ancestors ‘self’; img-src ‘self’ data:; font-src ‘self’ data: https://use.fontawesome.com; style-src * data: ‘self’ ‘unsafe-inline’ ; script-src * data: ‘self’ ‘unsafe-inline’“;
If I am not add options like "img-src

[2019-02-25 15:09] PhilBarrett commented on #92
@DmitrySolyannik Thanks for the update, can you consider how these images are brought into the application please, as the external source appears to be blocked due to the policy implementation

[2019-02-25 15:16] DmitrySolyannik commented on #92
@PhilBarrett, Images already on the server, but fonts for OpenID MS has external source, I will upload those fonts and will add it to the project

[2019-02-25 15:23] PhilBarrett commented on #92
Thanks @DmitrySolyannik

[2019-02-26 11:46] kuvakina opened #102 "Top3Things not showed on Home page"
On **helm-dev** and **mango-cookie** I added 2 of 3 Top3Things: https://www.screencast.com/t/w6SyLbnk3Lz , but on Home page I see this: https://www.screencast.com/t/Pbltpi0HOTh

When I'm on the Top3Things page, I see like this:
**preview** : https://www.screencast.com/t/kb7wFVWxFiMP
**response** : https://www.screencast.com/t/EtVsLCPSX

When I om Home page, for Top3Things I see like this:
**previe

[2019-02-26 14:14] kuvakina commented on #89
Changed passwords for both **staging** and **helm-dev**:

for https://staging.myhelm.org -- problems with styles didn't appear, changes password successfully.  The only thing is that there is old functionality for creating password.

for https://helm-dev.ripple.foundation -- problems with styles didn't appear, changes password successfully.

[2019-02-27 10:33] PhilBarrett commented on #87
@kuvakina We don't want to lose Feeds functionality, so please can a new task be created to add to the Showcase stack in case required in the future.

[2019-02-27 10:35] PhilBarrett commented on #94
Closing this issue as now out of scope for the Helm project at this time

[2019-02-27 10:36] #94 closed

[2019-02-27 14:40] PhilBarrett opened #103 "NHS Login sandpit integration"

[2019-02-27 14:46] PhilBarrett commented on #103
**Stub**
Our stub is a lightweight representation of our OpenID Connect (OIDC) implementation. It is intended to provide rapid learning of how our OIDC authorization flow behaves.
 https://stub.signin.nhs.uk/client

**Sandpit**
The sandpit environment will help you learn how to integrate with our service. Please note, as a test environment some features are restricted.

https://docs.google.com/for

[2019-02-28 14:45] PhilBarrett opened #104 "Set up Helm branch on QEWD-Courier"

[2019-03-01 10:52] #104 closed

[2019-03-01 10:53] #30 closed

[2019-03-01 10:53] PhilBarrett commented on #30
No longer required

[2019-03-01 11:05] PhilBarrett opened #105 "Migrate Helm onto React-Admin including styling"

[2019-03-01 11:08] PhilBarrett opened #106 "Remove all functionality for Helm other than top 3 things"

[2019-03-01 11:08] PhilBarrett opened #107 "Accessibility review/amends on React-Admin"

[2019-03-01 11:11] PhilBarrett commented on #92
This needs migrating onto the latest QEWD-Up version of QEWD-Courier  please @DmitrySolyannik

[2019-03-01 11:13] PhilBarrett opened #108 "EtherCIS Test and migration onto V1.3"

[2019-03-01 11:14] PhilBarrett opened #109 "Supplier and LCC internal documentation pack"

[2019-03-01 11:39] kuvakina commented on #86
Bogdan can't work on the tests as he doesn't have access to dev.ripple.foundation:8000: we have an error **503 Service Temporarily Unavailable**

[2019-03-01 11:46] PhilBarrett commented on #86
This needs to be on Helm-dev, once QEWD-Courier latest version and React-Admin are on there

[2019-03-01 11:48] PhilBarrett commented on #38
Scope change by LCC, due to legal concerns

[2019-03-01 11:48] #38 closed

[2019-03-01 12:22] tony-shannon commented on #1
Please see recent related discussion here
https://github.com/QEWD-Courier/Arc-QEWD-Courier-hive/issues/13

Further discussion on this project related issue should be done here

[2019-03-01 12:23] tony-shannon commented on #106
PLease dont take action on this yet

[2019-03-01 12:52] #55 closed

[2019-03-01 16:56] kuvakina commented on #105
This issue related to this issue https://github.com/PulseTile/PulseTile-RA/issues/56

[2019-03-01 17:00] kuvakina commented on #86
Ok, @PhilBarrett
@BogdanScherban you would do this?

[2019-03-01 17:02] kuvakina commented on #83
sorry @tony-shannon could you please provide a bit more details to this issue?

[2019-03-01 17:06] tony-shannon commented on #29
removed Click4Assist as out of scope

[2019-03-01 17:06] #29 closed

[2019-03-01 17:09] kuvakina commented on #87
@PhilBarrett added a new issue https://github.com/RippleOSI/Ripple-Showcase-Stack-Project/issues/11

[2019-03-01 17:14] tony-shannon commented on #6
done

[2019-03-01 17:14] #6 closed

[2019-03-01 17:19] kuvakina commented on #100
@PhilBarrett @tony-shannon can we close this issue?

[2019-03-04 10:24] PhilBarrett opened #110 "Helm MPI service"
Idea here is to set up the basis of a MPI view including Multi Patient View and hooks to the FHIR based MPI service, for GET demographics.

This view is limited to IDCR role and a Helm administrator system.

[2019-03-06 17:26] kuvakina commented on #92
Dima added to original version of QEWD (old), but not added to new version because for right now we are not using NGINX, btw I think we should create new tasks for nginx proxies to microservices

[2019-03-06 17:42] kuvakina commented on #102
Dima is waiting for @robtweed  approve of PR:  https://github.com/QEWD-Courier/QEWD-Courier/pull/35

[2019-03-07 14:07] PhilBarrett opened #111 "IP changes"
Swap apple cake with helm-dev

[2019-03-11 09:30] kuvakina commented on #111
Dima made it, now on appl-cake server lies orig Helm version + QEWD-Courier version :  http://apple-cake.ripple.foundation (if you see loader too long, it means you were forwarded to **https** and you have to change it to **http** )

[2019-03-11 14:22] PhilBarrett commented on #92
We are using NGINX with Helm - Please can you clarify @kuvakina

[2019-03-11 15:40] DmitrySolyannik commented on #92
@PhilBarrett , No we are not using NGINX right now, we should setup it for QEWD.
It worked in previous version (QEWD Original version)

[2019-03-12 09:28] PhilBarrett commented on #109
4.3 Details of application technologies implemented.
**Estimated 1-2 days**

6.1 Service level requirements being supported/implemented, including recovery periods following service failure or disruption.
6.2 Description of how business continuity and disaster recovery will be supported during national outages, failure or disruption.
6.3 Description of the "running" system configuration for a busi

[2019-03-12 09:29] PhilBarrett commented on #109
@chevalleyc

[2019-03-12 09:36] PhilBarrett commented on #108
Relates to https://github.com/ethercis/ethercis/issues/171 .  Closing here as duplicated

[2019-03-12 09:36] #108 closed

[2019-03-19 15:58] PhilBarrett commented on #22
Descoped - no longer required

[2019-03-19 15:58] #22 closed

[2019-03-19 15:59] PhilBarrett commented on #28
Closing out - descoped

[2019-03-19 15:59] #28 closed

[2019-03-19 15:59] PhilBarrett commented on #58
Closing out - descoped

[2019-03-19 15:59] #58 closed

[2019-03-19 16:00] PhilBarrett commented on #20
Closing out - descoped

[2019-03-19 16:00] #20 closed

[2019-03-19 16:00] PhilBarrett commented on #98
Closing out - descoped

[2019-03-19 16:01] #98 closed

[2019-03-19 16:01] PhilBarrett commented on #40
Closing out - descoped from LCC project

[2019-03-19 16:01] #40 closed

[2019-03-19 16:01] PhilBarrett commented on #41
Closing out - descoped from LCC

[2019-03-19 16:01] #41 closed

[2019-03-19 16:03] PhilBarrett commented on #19
Closing out - descoped as top 3 things only now in scope

[2019-03-19 16:03] #19 closed

[2019-03-19 16:04] PhilBarrett commented on #45
Closing out - descoped from Helm project

[2019-03-19 16:04] #45 closed

[2019-03-19 16:04] PhilBarrett commented on #84
Completed

[2019-03-19 16:04] #84 closed

[2019-03-19 16:08] PhilBarrett commented on #62
Duplicate of https://github.com/LeedsCC/Helm-PHR-Project/issues/86 -  closing out

[2019-03-19 16:08] #62 closed

[2019-03-19 16:10] PhilBarrett commented on #86
Also from @kuvakina

while testing mango-cookie, I've noticed one thing when we create Top3Things.
I checked it on helm-dev and this issue was there also. I recorded it: https://drive.google.com/file/d/1oEIZFCLh2bpiNaa6MM_2NOeaqwVjlJo5/view .

Is it ok or it should be fixed later (in both versions)?

[2019-03-19 16:14] PhilBarrett commented on #83
Moved onto https://github.com/LeedsCC/Helm-PHR-Project/issues/99

[2019-03-19 16:14] #83 closed

[2019-03-19 16:14] PhilBarrett commented on #99
Linked with https://github.com/LeedsCC/Helm-PHR-Project/issues/83

[2019-03-19 16:16] PhilBarrett commented on #93
Descoped by LCC- Not in scope

[2019-03-19 16:16] #93 closed

[2019-03-19 16:23] PhilBarrett commented on #48
Updated as moved onto React-Admin, checking if still an issue

[2019-03-25 10:23] PhilBarrett commented on #110
Hi @richardcbrown Could you provide an update in here please along with the latest version of the code and where it's been deployed to. We need to test this in our environments.

[2019-03-25 10:24] PhilBarrett commented on #92
@DmitrySolyannik we need to get the NGINX config changes on the Helm-dev environment, working with the latest version of QEWD Courier please.

[2019-03-25 10:29] PhilBarrett opened #112 "Check DDS integration"
Check state of DDS integration before turning off.

[2019-03-25 10:31] PhilBarrett commented on #110
@robtweed  can we get your view on this please, to be able to deploy the Helm MPI service . Conversation between yourself and Tony required.

[2019-03-25 11:52] PhilBarrett opened #113 "Helm-dev bugs/issues"
- [x] top 3 things detail view header showing "problem/diagnosis"
 - [x] top 3 things create not working.
![Screen Shot 2019-03-25 at 11.49.39.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77206456f66b7191a379ee0c2f58415c47be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b9758

[2019-03-25 12:41] richardcbrown commented on #110
Hi @PhilBarrett, the MPI service is still under review, there's a set of review changes waiting review then it should be ready to be merged in. PR can be found here https://github.com/QEWD-Courier/QC-MPI-Microservice/pull/1

As for deployment I need to catch up with Rob Organ about the progress of YHCR development. What infrastructure is the helm test environment running on?

[2019-03-26 07:55] tony-shannon commented on #110
thanks @richardcbrown , have merged that well worked PR, thank you
Need to chat with @robtweed to compare/contrast between MS MPI now
FYI Helm dev is running Docker on Ubuntu, staging and production env are similar

[2019-03-26 08:07] tony-shannon commented on #92
thanks, can we also check to ensure these related header issues detailed above have been resolved @DmitrySolyannik on helm-dev

[2019-03-26 10:12] tony-shannon commented on #113
logout issue needs fix

[2019-03-26 12:41] tony-shannon commented on #1
@DmitrySolyannik please test this openEHR template and let us know the results here
thanks

[2019-03-26 12:55] DmitrySolyannik commented on #92
@PhilBarrett , @tony-shannon , I've added nginx with ssl and security headers on helm-dev, showcase and nes-dev servers. Also added changes in configs for new MS (respectForms, mpi_service).  For now it works without separate docker container with nginx. Nginx installed for each server directly. In future I need update nginx container because configs has changed and also new microservices were add

[2019-03-26 13:51] tony-shannon commented on #107
see latest update on this by @simongamester

https://docs.google.com/document/d/19jQow5Mo4qYYhQfzGtq9NSuBve_042Rc5vDJGDr4YL0/edit?usp=sharing

[2019-03-26 14:28] simongamester commented on #107
@BogdanScherban Let me know if you have any queries.

[2019-03-27 09:14] PhilBarrett commented on #112
Moving to https://github.com/QEWD-Courier/QEWD-Courier/issues/58

[2019-03-27 09:14] #112 closed

[2019-03-27 09:26] PhilBarrett commented on #105
Linked to https://github.com/RippleOSI/NHS_Ed_Scotland_Open_Platform/issues/47

[2019-03-27 09:26] #105 closed

[2019-03-27 09:30] PhilBarrett commented on #107
As per that document, the following tasks/changes are required
 - [ ] Aria Roles
 - [ ]  Link Text
 - [ ] Structured lists
 - [ ] Heading 1 tag missing
 - [ ] Colour contrast
 - [ ] ID attributes must be unique.

[2019-03-27 10:24] tony-shannon commented on #92
after d/w Dima we can confirm these settings have been updated on helm-dev

[2019-03-27 12:04] BogdanScherban commented on #113
Create was fixed and work correctly.

Edit functionality haven't fixed yet because of this issue:
https://github.com/PulseTile/PulseTile-RA/issues/63

[2019-03-27 12:06] tony-shannon commented on #113
I assume you mean wrt Top 3 things , can also you comment on the others listed please @BogdanScherban

[2019-03-27 12:09] BogdanScherban commented on #113
@tony-shannon
This problem (Create and Edit errors) was common for all our plugins, not only for TopThreeThings.

Yesterday I fixed creation and checked it at all plugins (Allergies, Contacts, Problems, Vaccinations, TopThreeThings, Medications and Patients)

Editing is also common problem for all plugins. I described this issue totally for Francois and need in his help.

[2019-03-27 12:16] BogdanScherban commented on #113
Can we create new issue for these? I'm not understand the problem with logout: client side clean token and data in local storage. Should we clean Cookie and Storage totally?

OK, it will be added

[2019-03-27 12:25] tony-shannon commented on #113
Caching issue is already on the board https://github.com/LeedsCC/Helm-PHR-Project/issues/99

[2019-03-27 12:28] tony-shannon opened #114 "need logout to be clean & automated after timeout"
please ensure logout helps clear cache
+ if user leaves application for a while that login token cleared automatically

thanks
T

[2019-03-27 12:29] tony-shannon commented on #113
and Logout has been added as an issue here https://github.com/LeedsCC/Helm-PHR-Project/issues/114

[2019-03-27 16:20] kuvakina opened #115 "Helm-dev bugs / issues"
- [ ] Add expand button for Problems / Issues
- [ ] Add expand button for Medications
- [ ] Add expand button for Vaccinations
- [ ] Add expand button for Contacts
- [ ] Add expand button for Allergies
- [ ] Add expand button for Top3Things

[2019-03-27 16:28] kuvakina commented on #113
- [ ] Add expand button for Problems / Issues
- [ ] Add expand button for Medications
- [ ] Add expand button for Vaccinations
- [ ] Add expand button for Contacts
- [ ] Add expand button for Allergies
- [ ] Add expand button for Top3Things

[2019-03-27 16:29] PhilBarrett commented on #115
Opened in error

[2019-03-27 16:29] #115 closed

[2019-03-28 13:32] BogdanScherban commented on #113
@kuvakina
Alexandra, these two had been done:
- top 3 things detail view header showing "problem/diagnosis"
- top 3 things create not working.

[2019-03-28 13:32] PhilBarrett commented on #107
Updated from Bogdan

[2019-03-28 14:54] PhilBarrett commented on #88
Relates to https://github.com/LeedsCC/Helm-PHR-Project/issues/92

[2019-03-28 14:54] #88 closed

[2019-03-28 14:54] PhilBarrett commented on #87
Awaiting user metadata, should be closed for now

[2019-03-28 14:54] #87 closed

[2019-03-28 14:56] PhilBarrett commented on #102
This has now been superseded by  issue #1 migrate top3 things onto openEHR backend

[2019-03-28 14:56] #102 closed

[2019-03-28 14:57] #100 closed

[2019-03-28 14:58] PhilBarrett commented on #92
@robtweed we need to deploy these onto Helm Staging  and test before moving onto Helm Production

[2019-03-28 14:59] PhilBarrett commented on #111
This is completed

[2019-03-28 15:00] #111 closed

[2019-03-28 15:00] PhilBarrett commented on #103
Now need to move to assurance environment in NHS Login, to Staging on Helm

[2019-03-28 15:15] PhilBarrett commented on #96
Resolved

[2019-03-28 15:16] #96 closed

[2019-03-28 15:50] BogdanScherban commented on #99
This issue has been done.

If any response to server is unsuccessful, modal window with message should be appeared.
Depending on error type it suggests user to relogin or reload page.

![image](https://user-images.githubusercontent.com/39263134/55171668-778ef780-5181-11e9-92ae-0d0597a9a44e.png)
![image](https://user-images.githubusercontent.com/39263134/55171901-de141580-5181-11e9-82d1-eb0a6bafaec

[2019-03-28 15:59] BogdanScherban commented on #107
@fzaninotto

In the last issue it is necessary to change id in the table row cells.
But these cells are created by React-Admin in the List.
[code]

I tried to set id as attribute like:
[code]

But it isn't work. Can we set id in elements, which are created by React-Admin?
Or it is impossible?

[2019-03-28 16:00] PhilBarrett commented on #89
Closing this off  as on PT-R and working fine

[2019-03-28 16:00] #89 closed

[2019-03-28 16:01] PhilBarrett commented on #82
OOS following rescope of Helm as instructed by LCC

[2019-03-28 16:01] #82 closed

[2019-03-28 16:03] PhilBarrett commented on #109
Following conversation with DM &  DR. We've been asked to look at the following as well as a knowledge transfer session back to LCC

A)     Architecture / Overview

A1: Helm - Introduction, Business and Technical Solution Overview – the existing document, cut down to the first 37 pages only (plus QEWD appendix), to give a concise overview. After taking time to read this thoroughly, I did feel that

[2019-03-28 16:08] PhilBarrett commented on #113
These are now out of scope for Helm so moved to https://github.com/PulseTile/PulseTile-RA/issues/67

[2019-03-28 16:08] #113 closed

[2019-03-28 16:22] PhilBarrett opened #116 "Systems of Systems Integration - FHIR Store"
Placeholder pending conversation between RH, RT and TS.

Will require UI mapping once hooked up

[2019-03-28 16:24] PhilBarrett opened #117 "NHS Login - Assurance environment"
Following successful sandpit set up

Awaiting following info to send to NHSD before then migrating onto Staging for Helm and Assurance environment for NHS Login

[2019-03-28 16:24] PhilBarrett commented on #117
![Screen Shot 2019-03-28 at 14.04.10.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77206456fb6b7191a379eb0c2b55415e4ebe5d4a1f06a3a3dc78e2a436628f0e5abfd86a0d20ce6f43a9b9811fbf07eb258a4a87b1ef9850d2aa6c7bb3d4d216744b470a83ed5c3daa984ecd5bf142e14f53ad1b3460f43b.png)

[2019-03-28 16:42] fzaninotto commented on #107
Setting an id on a `TextField` component in a standard `Datagrid` works, I've tested it. Look at the TextField implementation: it passes all extra props (including your id) to the Typography component:

[code]

The `id` ends up in a `<span>` element.

However, you can't change the `id` of the `<td>` elements. The fact that they are not unique is a react-admin bug that we'll fix in the react-admin

[2019-03-28 16:57] PhilBarrett commented on #103
Sandpit environment connected and tested with both NHSD dummy account and brand new account going successfully into Helm

https://youtu.be/vDrIR09I8_0

[2019-03-28 17:00] PhilBarrett commented on #48
Closing off due to change in scope from LCC and now moving to NHS Login.

[2019-03-28 17:00] #48 closed

[2019-03-28 17:12] PhilBarrett commented on #86
After further testing  following the change to top3 things so that the user can save empty entries (i.e the user enters 1 value, then goes back and adds another etc) This issue reported above has been resolved and we haven't been able to recreate.

[2019-03-28 17:27] PhilBarrett opened #118 "Latest Codebase forked to LCC repo"
Following recent development activities for Helm, we need to fork the related Helm code into the LeedsCC repo

PulseTile-RA for Helm
QEWD-Courier for Helm

[2019-03-29 09:22] PhilBarrett commented on #114
@BogdanScherban can we get an update on this please

[2019-03-29 09:25] PhilBarrett commented on #86
Closed by mistake

[2019-03-29 11:31] kuvakina commented on #101
@PhilBarrett on helm-dev we don't have this bug anymore: Bodgan made it the way, that we can save T3T even with empty fields.

[2019-04-01 09:21] PhilBarrett commented on #107
Awaiting new build from @DmitrySolyannik  onto helm-dev

[2019-04-01 10:00] BogdanScherban commented on #114
@tony-shannon @PhilBarrett

Now we have two cases, when user can use logout.

1) If user want to Sign out, he can click on Sign Out at the user panel:
https://drive.google.com/file/d/11zDvWNzPnfBo-rL8CUh1T7l_G2_x7S6m/view?usp=sharing

2) If user leave the page, and his token expired in this time. In this case modal window will open. If user click on "Login again", he will be redirected on the logi

[2019-04-01 10:03] BogdanScherban commented on #107
@tony-shannon
Tony, all changes were upload to the helm-dev.ripple.foundation.
But last changes can't be done because of React-Admin features.

@simongamester
Simon, could you please check it?

[2019-04-01 10:31] tony-shannon commented on #97
please check PulseTile RA repo also

[2019-04-01 10:40] tony-shannon commented on #114
great thank you @BogdanScherban

[2019-04-01 11:09] BogdanScherban commented on #97
@tony-shannon

LeedsCC/Helm-PHR-Generator doesn't use lodash generally:
https://github.com/LeedsCC/Helm-PHR-Generator/blob/master/package.json

I updated dependencies in package.json in https://github.com/PulseTile/PulseTile-RA - could you please check - is vulnerability message presented?

[2019-04-01 12:24] #114 closed

[2019-04-01 12:36] #97 closed

[2019-04-02 09:25] DmitrySolyannik commented on #1
As I can see, Post request works fine, I am getting compositionId back after post request, but I will show all requests below:

**GET**

`{ url:
   'http://ethercis1.3-test.ripple.foundation:8080/rest/v1/query',
  method: 'GET',
  qs:
   { aql:
      'select      a/uid/value as uid,      a/composer/name as author,      a/context/start_time/value as date_created,    b/data[at0001]/events[at0002]/da

[2019-04-02 09:44] freshehr commented on #1
@DmitrySolyannik I think there is some confusion here - you do not need to send the GET / query call, just the POST /query. I would recommend never using Get / query at all - there are the issues with formatting but also with some servers truncating long query strings.

The GET call we were talking about was GET /composition - but forget about that for now (it is a different mechanism for retrievi

[2019-04-03 11:27] simongamester commented on #107
@BogdanScherban I've just taken another look at this and can see that all issues have been resolved except Issue 6 (which we already know about) and Issue 3. I've updated the google doc and added a section in Issue 3 with details of the problem.

[2019-04-03 11:50] PhilBarrett commented on #117
We've undergone successful end to end user journey testing with the following accounts.

9686368639
9686368647
9686368655
9686368663
9686368671
9686367713
9686368663

This included the following scenarios

Sign up with Patient Online linked account credentials
Sign up knowing the NHS Number
Sign up not knowing the NHS Number
Resetting password

Problems encountered/overcome as part of this exercis

[2019-04-03 11:50] #117 closed

[2019-04-03 12:48] PhilBarrett opened #119 "Helm Responsive view testing"

[2019-04-03 12:53] PhilBarrett opened #120 "Helm Styling"
After further testing, I've noticed a couple of style differences between React and ReactAdmin.

- [x] Circles in the background of the headers aren't as per React style.
- [x] Type face and font size appear slightly different.

@BogdanScherban have these being resolved as part of earlier bug fixes and are in the next build?

[2019-04-03 12:54] kuvakina commented on #119
For some reason I have this message:
![Screenshot_20190403-154057_Chrome.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5badf10d7690fd0011f09889/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cd791277206455f67f20d0b4179c4a690e020a5cb053181d1ba6acda6fb4bc2e75d80d58b8d2680973946e40a9ec821fb602ef29881ad3b3ae965e82b96371b8d6d6056b5c17129bfe5a3fa19c4ecc5aff4de14e51a2163

[2019-04-03 12:57] kuvakina commented on #119
Menu button and how menu shown like this (you can open menu, but to close it you don't see button)
![Screenshot_20190403-154127_Chrome.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5badf10d7690fd0011f09889/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cd791277206455f67f21d7b4179c4a690e020a5cb053181d1ba6acda6fb4bc2e75d80d58b8d2680973946e40a9ec821fb602ef29881ad3b3a

[2019-04-03 12:58] kuvakina commented on #119
When create T3T, buttons Complete and Close not tied with form
![Screenshot_20190403-154254_Chrome.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5badf10d7690fd0011f09889/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cd791277206455f67f22d0b7179c4a690e020a5cb053181d1ba6acda6fb4bc2e75d80d58b8d2680973946e40a9ec821fb602ef29881ad3b3ae965e82b96371b8d6d6056b5c17129bfe5a3

[2019-04-03 12:59] PhilBarrett commented on #120
How it should look
![Screen Shot 2019-04-03 at 13.12.36.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77276454f06b7191a379ec0c2a53415c48be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c32aa984ecd5cf442e74d52a41a3f66f43b.png)

Cur

[2019-04-03 13:00] kuvakina commented on #119
Make this window responsive:
![Screenshot_20190403-155921_Chrome.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5badf10d7690fd0011f09889/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cd791277206455f67e29d7b2179c4a690e020a5cb053181d1ba6acda6fb4bc2e75d80d58b8d2680973946e40a9ec821fb602ef29881ad3b3ae965e82b96371b8d6d6056b5c17129bfe543fa19c4ecc5aff4de54d56a4143471ab.jp

[2019-04-04 15:54] tony-shannon commented on #119
@BogdanScherban can you please action these asap

[2019-04-04 15:54] tony-shannon commented on #120
@BogdanScherban can you action please asap

[2019-04-04 15:56] tony-shannon commented on #106
done in latest build, while original Helm functionality in London branch

[2019-04-04 15:58] BogdanScherban commented on #120
@tony-shannon
It haven't been done because I see this issue only now. It will be done tomorrow.

[2019-04-04 15:59] BogdanScherban commented on #119
@tony-shannon
It haven't been done because I see this issue only now. It will be done tomorrow.

[2019-04-04 16:01] tony-shannon opened #121 "Top 3 things - few bugs"
- [x] After adding to top 3 things reload is needed to see the data (see A below)
- [x] needs create button for new Top 3 things, after first entry
- [ ] Editing values in text field , cursor moves , see here https://screencast-o-matic.com/watch/cqffDcZh8E

[2019-04-04 16:20] tony-shannon commented on #121
see A above
after saving Top3things
![image](https://user-images.githubusercontent.com/939996/55571640-d2829a80-56fd-11e9-8a0f-8de327d6854c.png)
after reload
![image](https://user-images.githubusercontent.com/939996/55571654-da423f00-56fd-11e9-961e-19286d67891b.png)

[2019-04-05 14:50] BogdanScherban commented on #121
@tony-shannon

It is fixed

It is fixed.

Here we need in Francois help. Besides this, I found a problem, which we didn't see earlier.
I'll create issue for Francois about it.

[2019-04-05 14:51] BogdanScherban commented on #120
@tony-shannon

It has been done today

[2019-04-05 14:56] BogdanScherban commented on #119
@tony-shannon

What have been done today:
1) Modal window in mobile mode (both issues);
2) Top part of topbar  in mobile mode;
3) Low part of topbar  in mobile mode;
4) Sidebar in mpbile mode.

Results on the video:
https://drive.google.com/file/d/1A3hPYAdRXqu3GAsei4FW8Yg9pAEV1mC_/view?usp=sharing

[2019-04-05 15:22] BogdanScherban commented on #121
I created two issues to ask Francois help:
https://github.com/PulseTile/PulseTile-RA/issues/72
https://github.com/PulseTile/PulseTile-RA/issues/71

[2019-04-08 12:49] PhilBarrett opened #122 "helm-dev investigations"
Investigate

 - [ ] top3 things template on staging
 - [ ] responsive view when menu opened
 - [ ] remove feeds
 - [ ] remove other headings

[2019-04-09 14:05] PhilBarrett commented on #106
tested, working fine

[2019-04-09 14:05] #106 closed

[2019-04-09 14:07] #99 closed

[2019-04-09 14:08] PhilBarrett commented on #120
Completed and tested fine

[2019-04-09 14:08] #120 closed

[2019-04-09 14:09] PhilBarrett commented on #101
Tested and working fine

[2019-04-09 14:10] kuvakina commented on #119
@PhilBarrett Bogdan fixed mobile view issues mentioned here. Can we close this one?

[2019-04-09 14:16] #119 closed

[2019-04-09 14:17] PhilBarrett commented on #92
@robtweed  can you confirm that the NGINX changes have been applied to Staging / Production please

[2019-04-11 11:41] kuvakina opened #123 "Helm-Staging bugs"
- [x] Author is showing as Null Null https://www.screencast.com/t/WoR5WujQHtc
- [x] Helm-Dev shows top 3 things (https://www.screencast.com/t/CJtbVtBRzeN), Helm Staging shows problems/issues (https://www.screencast.com/t/XdyS23LCIgjd)
- [x] The user tour is out of sync and you can't go back https://www.screencast.com/t/bcGHsVpazfpa
- [x] Helm URL - no nhs#- by design ?

[2019-04-11 16:38] PhilBarrett commented on #123
Moving to review for final check in Staging before closing. Helm URL to be checked as well

[2019-04-15 07:28] PhilBarrett commented on #116
behaviour  working as expected  on Staging

[2019-04-15 07:31] PhilBarrett commented on #121
Closing off as covered elsewhere, see above

[2019-04-15 07:31] #121 closed

[2019-04-15 09:13] tony-shannon commented on #123
this is relevant to the author null null issue
![image_2019_04_12T15_40_44_084Z.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bae28b4d734ec0013e1f936/125516c66e82c728ace21e0d46e1999b2487bcfbdfb8e67cf409cfc57b7276261650f31424d1dc78e7164143434d0eee1e020a17b8eb8339a3e46d23df5f0ebbd63f0c25c36911acb1814ab602ef768e5d99a4fedb1294b7607caddecd5d340c071883fe5830a59a4ac15ef743e745

[2019-04-15 11:09] BogdanScherban commented on #123
@tony-shannon @robtweed
This logic is used in current version. Look, please, at rows 23-31:
https://github.com/PulseTile/PulseTile-RA/blob/627800b64598fad3688a6db5d29eaab5a8fec6b0/src/core/dataProviders/authProvider.js#L23

Null Null can occurs only if **firstName** and **lastName** are absent.

[2019-04-15 11:55] robtweed commented on #123
The problem is you are doing this:
const userName = get(decodeToken, 'openid.firstName', null) + ' ' + get(decodeToken, 'openid.lastName', null);

instead of

const userName = get(decodeToken, 'firstName', null) + ' ' + get(decodeToken, 'lastName', null);

[2019-04-15 11:56] kuvakina opened #124 "Tour button issue on MPV"
By clicking on Tour button from MPV (for Scotland(NES) and OneLondon projects) we are forwarded to Single page view.

Suggestion: hide Tour button form all pages except for Single page view.

[2019-04-15 12:17] tony-shannon commented on #92
@DmitrySolyannik  to check diff between Helm-dev & Helm-staging env, link with Rob if needs be
We will pass back to Rob & Eric

[2019-04-15 12:24] BogdanScherban commented on #123
@robtweed
Is it only for Staging?
Because, for example, at London get(decodeToken, 'firstName', null) return null

[2019-04-15 12:45] robtweed commented on #123
Yes the change is currently only on Staging.  Probably a good idea to modify the code to work in either environment for now.  Helm-dev and London need to have the necessary changes made to the OIDC-Client / authentication_service microservice which will be something I can assist with in a few days

[2019-04-15 13:00] PhilBarrett commented on #92
@DmitrySolyannik - from your earlier work (summarised below) please could you provide the final add_header directives for these three issues.

**Issue 1 investigation - add_header Content-Security-Policy "default-src 'self'; frame-ancestors 'self'";**

Changes made to Content-Security-Policy
Content-Security-Policy “default-src ‘self’; frame-ancestors ‘self’; img-src ‘self’ data:; font-src ‘self’

[2019-04-15 15:20] PhilBarrett commented on #123
Tested and working fine on Staging, thanks all

[2019-04-16 07:14] fzaninotto commented on #107
I don't understand your comment. The problem was that table cells had duplicated ids. Now that table cells don't have ids anymore, the problem is solved, isn't it?

[2019-04-16 08:24] DmitrySolyannik commented on #92
@PhilBarrett , @tony-shannon , @robtweed
Here is NGINX headers that I've added on helm-dev and other dev servers:

add_header Content-Security-Policy "default-src 'self'; frame-ancestors 'self'; img-src 'self' data:; font-src 'self' data:; style-src  data: 'self' 'unsafe-inline'; script-src  data: 'self' 'unsafe-inline'";
    add_header Feature-Policy "geolocation 'none';midi 'none';sync-xhr 'none

[2019-04-16 08:36] DmitrySolyannik commented on #92
@PhilBarrett , @tony-shannon , @robtweed
Here is a difference between NGINX  configs
Left one is **Helm-Dev**, right one is **Staging**
https://www.diffchecker.com/D2BBjr4S

[2019-04-16 09:19] PhilBarrett commented on #92
Applied on Staging and tested working fine

[2019-04-16 10:20] BogdanScherban commented on #107
@simongamester
Simon, in new version of React-admin ids are absent in table cells generally. Is it correct, of it is necessary to provide unique ids in each table cell?

[2019-04-16 11:15] simongamester commented on #107
Hi @BogdanScherban. From an accessibility point of view, there's no need to include IDs in table cells and as they're now removed this issue should be fixed.

[2019-04-16 11:18] BogdanScherban commented on #107
Thanks, @simongamester.
@fzaninotto can we add unique ids to table cells?

[2019-04-16 14:07] #124 closed

[2019-04-16 15:07] fzaninotto commented on #107
Not with the default DatagridRow, but if you write a custom DatagridRow it's possible.

[2019-04-17 07:28] #123 closed

[2019-05-02 16:04] PhilBarrett commented on #118
All repos have been detailed in the Helm/Ripple stack handover document

PulseTile
https://github.com/PulseTile/PulseTile-RA/tree/helm

Qewd-Courier  & MS
https://github.com/QEWD-Courier/QEWD-Courier   (develop is default/most up to date branch)

https://github.com/robtweed/oidc-client  (for interaction with NHSLogin & LTH)
https://github.com/robtweed/oidc-provider (for LTH)
https://github.com/ric

[2019-05-02 16:04] #118 closed

[2019-05-02 16:05] PhilBarrett commented on #116
FHIR SoS integration completed, closing

[2019-05-02 16:05] #116 closed

[2019-05-02 16:05] PhilBarrett commented on #110
Descoped by LCC, closing

[2019-05-02 16:05] #110 closed

[2019-05-02 16:07] #92 closed

[2019-05-16 10:06] PhilBarrett commented on #86
e2e tests of just top 3 things required for Helm.  Also need to split out https://github.com/LeedsCC/Helm-End2End-Tests so only Helm e2e tests are described in the readme.

[2019-05-21 12:26] kuvakina commented on #86
On screenshots we found the reason for the failure, but we can't understand why it happened
The reason is this: https://www.screencast.com/t/1QJYJa0PWs4F
Seems like when in the middle of the test we login, the token is expired
It strange, because when Bogdan test it locally, he doesn't have this popup

Bogdan suggested the solution, here is PR: https://github.com/LeedsCC/Helm-End2End-Tests/pull/6

[2019-05-21 13:02] kuvakina commented on #86
@PhilBarrett

Bogdan updated Read.me for E2e tests, please check it

[2019-05-21 13:36] PhilBarrett commented on #86
Thanks @kuvakina.

@BogdanScherban can you also look at the security vulnerabilities mentioned on this repo please
![Screen Shot 2019-05-21 at 14.33.21.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/b1a1ac22-3787-4909-a8a8-2c5ab3251935)

[2019-05-21 15:19] kuvakina commented on #86
Thanks @PhilBarrett

Bogdan will take a look:

Also update for e2e tests:

We added and updated new tests on RM (we wanted to run tests and see how they behave there)
they showed the same problem as on Jenkins: instead of Patient Summary we see a popup that says that our session expired: https://www.screencast.com/t/xKkahY4ju

As you can see from screenshot error within NHS number with token
Bogda

[2019-05-24 16:59] kuvakina commented on #86
@PhilBarrett we updated dependencies. Could you please check it?

[2019-05-27 11:27] tony-shannon commented on #86
still a problem
Dima needs to check it further +/- ask Rob for help

[2019-05-29 14:57] kuvakina commented on #86
Sorry, @tony-shannon what @DmitrySolyannik should do exactly?

[2019-06-04 09:14] tony-shannon commented on #86
@kuvakina to discuss with Vladimir on this

[2019-06-04 16:29] kuvakina commented on #86
@tony-shannon couldn't discuss it today, try to do it tomorrow

[2019-06-06 09:41] PhilBarrett opened #125 "Helm - UI improvements June 2019"
Following recent Ripple Showcase work, we have identified a number of changes/enhancements that would benefit existing clients (e.g. highlighting row that's been selected).

AK adding details below for review:

[2019-06-07 13:56] kuvakina commented on #125
@tony-shannon @PhilBarrett
I have noticed so far only the issue with hints:
![eeeeeeee.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/b33c5613-2fe6-4578-aa5e-74416a15a915)

[2019-06-10 08:34] tony-shannon commented on #86
awaiting response from Alexey Sharpan.. @kuvakina  to chase up

[2019-06-14 13:54] kuvakina commented on #86
@tony-shannon @PhilBarrett

I talk with DevOps re e2e test

[2019-08-05 15:47] kuvakina commented on #86
@tony-shannon @PhilBarrett

As we have the issues with E2E tests right now, I can make some notices that we maybe should keep in mind for future:

1. Form QA who created the E2E tests before, I heard that the biggest problem with tests was the fact that the staging could not withstand the speed with which tests in 1 stream sent requests. It's a system problem.
The problem should be solved with goo